<div>
    <ul class="breadcrumb">
        <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.managepaymentgateway' | translate}}</li>
    </ul>
</div>

<div ng-controller="PaymentGatewayController">
 
    <div>
      <tabset  style="margin-bottom: 0px;">
       <div class="pull-right" style = "margin-top : 10px;">
       <div class="control-group">
            <!-- <label class="control-label" for="status">{{ 'label.paymentgateway.source' | translate }}</label> -->
          <button id="download" class="btn btn-min btn-default" ng-click="download()" style = "margin-bottom : 10px;">{{'button.downloadtocsv' | translate}}</button>
          <select ng-model="formData.source" ng-change="changeSource(formData.source)">
              <option value="all">All</option>
              <option value="mpesa">Mpesa</option>
              <option value="tigo">Tigo</option>
          </select>
            </div>
          </div>
 
      <tab heading="All" select="getPaymentGateway()">
        <div class="row-fluid">                
           <form ng-submit="searchPaymentId(filterText)">
               <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
           </form>
         <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.paymentgateway.id' | translate}}</th>  
                <th>{{'table.paymentgateway.paymentId' | translate}}</th>
                <th>{{'table.paymentgateway.paymentdate' | translate}}</th>  
                <th>{{'table.paymentgateway.phoneno' | translate}}</th>
                <th>{{'table.paymentgateway.serialNo' | translate}}</th>
                <th>{{'table.paymentgateway.receiptNo' | translate}}</th>  
                <th>{{'table.paymentgateway.amountPaid' | translate}}</th>
                <th>{{'table.paymentgateway.status' | translate}}</th>
                <th>{{'table.paymentgateway.remarks' | translate}}</th>
                <th>&nbsp;</th>          
              </tr>
            </thead>
            <tbody>
            <!--  -->
             <tr ng-repeat="paymentgatewaydata in paymentgatewaydatas.currentPageItems  | filter:filterText">
                
                <td>{{paymentgatewaydata.id}}</td>
                <td>{{paymentgatewaydata.paymentId}}</td>
                <td>{{paymentgatewaydata.paymentDate | DateFormat}}</td>
                <td>{{paymentgatewaydata.phoneNo}}</td>
                <td>{{paymentgatewaydata.serialNo}}</td>
                <td>{{paymentgatewaydata.receiptNo}}</td> 
                <td>{{paymentgatewaydata.amountPaid}}</td>
                <td>{{paymentgatewaydata.status}}</td> 
                <td>{{paymentgatewaydata.remarks}}</td>
                                                   
                <td><a ng-show="PermissionService.showMenu('UPDATE_PAYMENTGATEWAY')" ng-click="edit(paymentgatewaydata.id)" popover="Edit" popover-trigger="mouseenter"><i class="icon-edit icon-white"></i></a></td>       

   			</tr>
     		 </tbody>
          </table>
          <ul class="pager">
              <li class="previous"><a  id="prev" ng-click="paymentgatewaydatas.previous()" href="" ng-disabled="!paymentgatewaydatas.hasPrevious()">&larr; Prev</a></li>
              <li class="next" ><a  id="next"   ng-click="paymentgatewaydatas.next()" href="" ng-disabled="!paymentgatewaydatas.hasNext()">Next &rarr;</a></li>
         </ul>
         </div>
      </tab>	
      
      <tab heading="Failed" select="getPaymentGatewayFailure()">
        <div class="row-fluid">                
           <form ng-submit="searchFailedPaymentId(filterText)">
               <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
           </form>
         <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.paymentgateway.id' | translate}}</th>  
                <th>{{'table.paymentgateway.paymentId' | translate}}</th>
                <th>{{'table.paymentgateway.paymentdate' | translate}}</th>  
                <th>{{'table.paymentgateway.phoneno' | translate}}</th>
                <th>{{'table.paymentgateway.serialNo' | translate}}</th>
                <th>{{'table.paymentgateway.receiptNo' | translate}}</th>  
                <th>{{'table.paymentgateway.amountPaid' | translate}}</th>
                <th>{{'table.paymentgateway.status' | translate}}</th>
                <th>{{'table.paymentgateway.remarks' | translate}}</th>
                <th>&nbsp;</th>          
              </tr>
            </thead>
            <tbody>
            <!--  -->
             <tr ng-repeat="paymentgatewaydata in paymentgatewaydatas.currentPageItems  | filter:filterText" ng-show="paymentgatewaydata.status=='Failure'">
                
                <td>{{paymentgatewaydata.id}}</td>
                <td>{{paymentgatewaydata.paymentId}}</td>
                <td>{{paymentgatewaydata.paymentDate | DateFormat}}</td>
                <td>{{paymentgatewaydata.phoneNo}}</td>
                <td>{{paymentgatewaydata.serialNo}}</td>
                <td>{{paymentgatewaydata.receiptNo}}</td> 
                <td>{{paymentgatewaydata.amountPaid}}</td>
                <td>{{paymentgatewaydata.status}}</td> 
                <td>{{paymentgatewaydata.remarks}}</td>                                    
                <td><a ng-show="PermissionService.showMenu('UPDATE_PAYMENTGATEWAY')" ng-click="edit(paymentgatewaydata.id)" popover="Edit" popover-trigger="mouseenter"><i class="icon-edit icon-white"></i></a></td>       
   			</tr>
     		 </tbody>
          </table>
          <ul class="pager">
              <li class="previous"><a  id="prev" ng-click="paymentgatewaydatas.previous()" href="" ng-disabled="!paymentgatewaydatas.hasPrevious()">&larr; Prev</a></li>
              <li class="next" ><a  id="next"   ng-click="paymentgatewaydatas.next()" href="" ng-disabled="!paymentgatewaydatas.hasNext()">Next &rarr;</a></li>
         </ul>
         </div>
      </tab>	
      
<tab heading="Success" select="getPaymentGatewaySuccess()">
       <div class="row-fluid">
           <form ng-submit="searchSuccessPaymentId(filterText)">
               <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
           </form>
       <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.paymentgateway.id' | translate}}</th> 
                <th>{{'table.paymentgateway.paymentId' | translate}}</th>
                <th>{{'table.paymentgateway.paymentId' | translate}}</th>
                <th>{{'table.paymentgateway.paymentDate' | translate}}</th> 
                <th>{{'table.paymentgateway.phoneno' | translate}}</th>
                <th>{{'table.paymentgateway.serialNo' | translate}}</th>
                <th>{{'table.paymentgateway.receiptNo' | translate}}</th>     
                <th>{{'table.paymentgateway.amountPaid' | translate}}</th>
                <th>{{'table.paymentgateway.status' | translate}}</th>
                <th>{{'table.paymentgateway.remarks' | translate}}</th>      
                              
                <th> &nbsp;</th>
              </tr>
            </thead>
            <tbody>
             <tr ng-repeat="paymentgatewaydata in paymentgatewaydatas.currentPageItems  | filter:filterText" ng-show="paymentgatewaydata.status=='Success'">
                
                <td>{{paymentgatewaydata.id}}</td>
                <td>{{paymentgatewaydata.paymentId}}</td>
                <td>{{paymentgatewaydata.paymentId}}</td>
                <td>{{paymentgatewaydata.paymentDate | DateFormat}}</td>
                <td>{{paymentgatewaydata.phoneNo}}</td>
                <td>{{paymentgatewaydata.serialNo}}</td>
                <td>{{paymentgatewaydata.receiptNo}}</td>       
                <td>{{paymentgatewaydata.amountPaid}}</td>
                <td>{{paymentgatewaydata.status}}</td>
                <td>{{paymentgatewaydata.remarks}}</td>
                <td><a ng-show="PermissionService.showMenu('UPDATE_PAYMENTGATEWAY')" ng-click="edit(paymentgatewaydata.id)" popover="Edit" popover-trigger="mouseenter"><i class="icon-edit icon-white"></i></a></td>       
   			</tr>
     		 </tbody>
          </table>
           <ul class="pager">
              <li class="previous"><a  id="prev" ng-click="paymentgatewaydatas.previous()" href="" ng-disabled="!paymentgatewaydatas.hasPrevious()">&larr; Prev</a></li>
              <li class="next" ><a  id="next"   ng-click="paymentgatewaydatas.next()" href="" ng-disabled="!paymentgatewaydatas.hasNext()">Next &rarr;</a></li>
           </ul>
         </div>
      </tab>
      
      
      <tab heading="Finished" select="getFinishedPaymentGateway()">
        <div class="row-fluid">                
           <form ng-submit="searchFinishedPaymentId(filterText)">
               <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
           </form>
         <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.paymentgateway.id' | translate}}</th>  
                <th>{{'table.paymentgateway.paymentId' | translate}}</th>
                <th>{{'table.paymentgateway.paymentdate' | translate}}</th>  
                <th>{{'table.paymentgateway.phoneno' | translate}}</th>
                <th>{{'table.paymentgateway.serialNo' | translate}}</th>
                <th>{{'table.paymentgateway.receiptNo' | translate}}</th>  
                <th>{{'table.paymentgateway.amountPaid' | translate}}</th>
                <th>{{'table.paymentgateway.status' | translate}}</th>
                <th>{{'table.paymentgateway.remarks' | translate}}</th>                        
              </tr>
            </thead>
            <tbody>
            <!--  -->
             <tr ng-repeat="paymentgatewaydata in paymentgatewaydatas.currentPageItems  | filter:filterText" ng-show="paymentgatewaydata.status=='Finished'">
                
                <td>{{paymentgatewaydata.id}}</td>
                <td>{{paymentgatewaydata.paymentId}}</td>
                <td>{{paymentgatewaydata.paymentDate | DateFormat}}</td>
                <td>{{paymentgatewaydata.phoneNo}}</td>
                <td>{{paymentgatewaydata.serialNo}}</td>
                <td>{{paymentgatewaydata.receiptNo}}</td> 
                <td>{{paymentgatewaydata.amountPaid}}</td>
                <td>{{paymentgatewaydata.status}}</td> 
                <td>{{paymentgatewaydata.remarks}}</td>                                                   
   			</tr>
     		 </tbody>
          </table>
          <ul class="pager">
              <li class="previous"><a  id="prev" ng-click="paymentgatewaydatas.previous()" href="" ng-disabled="!paymentgatewaydatas.hasPrevious()">&larr; Prev</a></li>
              <li class="next" ><a  id="next"   ng-click="paymentgatewaydatas.next()" href="" ng-disabled="!paymentgatewaydatas.hasNext()">Next &rarr;</a></li>
         </ul>
         </div>
      </tab>	
      
     <tab heading="Invalid" select="getInvalidPaymentGateway()">
       <div class="row-fluid">
           <form ng-submit="searchInvalidPaymentId(filterText)">
               <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
           </form>
       <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.paymentgateway.id' | translate}}</th>  
                <th>{{'table.paymentgateway.paymentId' | translate}}</th>
                <th>{{'table.paymentgateway.paymentdate' | translate}}</th>  
                <th>{{'table.paymentgateway.phoneno' | translate}}</th>
                <th>{{'table.paymentgateway.serialNo' | translate}}</th>
                <th>{{'table.paymentgateway.receiptNo' | translate}}</th>  
                <th>{{'table.paymentgateway.amountPaid' | translate}}</th>
                <th>{{'table.paymentgateway.status' | translate}}</th>
                <th>{{'table.paymentgateway.remarks' | translate}}</th>  
                                           
              </tr>
            </thead>
            <tbody>
             <tr ng-repeat="paymentgatewaydata in paymentgatewaydatas.currentPageItems  | filter:filterText" ng-show="paymentgatewaydata.status=='Invalid'">
                
                <td>{{paymentgatewaydata.id}}</td>
                <td>{{paymentgatewaydata.paymentId}}</td>
                <td>{{paymentgatewaydata.paymentDate | DateFormat}}</td>
                <td>{{paymentgatewaydata.phoneNo}}</td>
                <td>{{paymentgatewaydata.serialNo}}</td>
                <td>{{paymentgatewaydata.receiptNo}}</td> 
                <td>{{paymentgatewaydata.amountPaid}}</td>
                <td>{{paymentgatewaydata.status}}</td> 
                <td>{{paymentgatewaydata.remarks}}</td> 
                             
   			</tr>
     		 </tbody>
          </table>
           <ul class="pager">
              <li class="previous"><a  id="prev" ng-click="paymentgatewaydatas.previous()" href="" ng-disabled="!paymentgatewaydatas.hasPrevious()">&larr; Prev</a></li>
              <li class="next" ><a  id="next"   ng-click="paymentgatewaydatas.next()" href="" ng-disabled="!paymentgatewaydatas.hasNext()">Next &rarr;</a></li>
           </ul>
         </div>
      </tab>
	  <tab heading="Processed" select="getProcessedPaymentGateway()">
       <div class="row-fluid">
           <form ng-submit="searchProcessedPaymentId(filterText)">
               <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
           </form>
       <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.paymentgateway.id' | translate}}</th>  
                <th>{{'table.paymentgateway.paymentId' | translate}}</th>
                <th>{{'table.paymentgateway.paymentdate' | translate}}</th>  
                <th>{{'table.paymentgateway.phoneno' | translate}}</th>
                <th>{{'table.paymentgateway.serialNo' | translate}}</th>
                <th>{{'table.paymentgateway.receiptNo' | translate}}</th>  
                <th>{{'table.paymentgateway.amountPaid' | translate}}</th>
                <th>{{'table.paymentgateway.status' | translate}}</th>
                <th>{{'table.paymentgateway.remarks' | translate}}</th>  
                                           
              </tr>
            </thead>
            <tbody>
             <tr ng-repeat="paymentgatewaydata in paymentgatewaydatas.currentPageItems  | filter:filterText" ng-show="paymentgatewaydata.status=='Processed'">
                
                <td>{{paymentgatewaydata.id}}</td>
                <td>{{paymentgatewaydata.paymentId}}</td>
                <td>{{paymentgatewaydata.paymentDate | DateFormat}}</td>
                <td>{{paymentgatewaydata.phoneNo}}</td>
                <td>{{paymentgatewaydata.serialNo}}</td>
                <td>{{paymentgatewaydata.receiptNo}}</td> 
                <td>{{paymentgatewaydata.amountPaid}}</td>
                <td>{{paymentgatewaydata.status}}</td> 
                <td>{{paymentgatewaydata.remarks}}</td>
                             
   			</tr>
     		 </tbody>
          </table>
           <ul class="pager">
              <li class="previous"><a  id="prev" ng-click="paymentgatewaydatas.previous()" href="" ng-disabled="!paymentgatewaydatas.hasPrevious()">&larr; Prev</a></li>
              <li class="next" ><a  id="next"   ng-click="paymentgatewaydatas.next()" href="" ng-disabled="!paymentgatewaydatas.hasNext()">Next &rarr;</a></li>
           </ul>
         </div>
      </tab>
      
   
    </tabset>
    </div>
   
 <script type="text/ng-template" id="editpaymentgateway.html">

	<form class="form-horizontal well" ng-submit="submit()">
	 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
		<legend>{{'label.editpaymentgateway' | translate}}</legend>
		<table width="100%">
		 
		 <tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="status">{{ 'label.paymentgateway.status' | translate }}</label>
						<div class="controls">
							<select ng-model="formData.paymentdata"
								ng-options="statusdata.code as statusdata.value for statusdata in statusData"
								value="{{statusdata.code}}" >
							</select>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="remarks"> {{ 'label.paymentgateway.remarks' | translate }} </label>
						<div class="controls">
							<select ng-model="formData.remarks">
								<option>Active</option>
								<option>Done</option>
							</select>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
	</form>
   <div class="modal-footer">
         <button id="cancel" class="btn btn-warning" ng-click="reject()">{{'button.cancel' | translate}}</button>
         <button id="submit" class="btn btn-primary" ng-click="accept()" ng-disabled="flag">{{'label.confirm' | translate}}</button>
   </div>

</script> 
<script type="text/ng-template" id="downloadpaymentgatewaydata.html">

	<form class="form-horizontal well" ng-submit="download()">
	 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
		<legend>{{'label.downloadpaymentgateway' | translate}}</legend>
		<table width="100%">
		 
		 <tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="status">{{ 'label.paymentgateway.category' | translate }}</label>
						<div class="controls">
							<select ng-model="formData.source">
              					<option value="all">All</option>
              					<option value="mpesa">Mpesa</option>
              					<option value="tigo">Tigo</option>
          					</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="status">{{ 'label.paymentgateway.status' | translate }}</label>
						<div class="controls">
							<select ng-model="formData.status">
              					<option value="all">All</option>
              					<option value="Failure">Failed</option>
              					<option value="Success">Success</option>
								<option value="Finished">Finished</option>
								<option value="Invalid">Invalid</option>
								<option value="Processed">Processed</option>
          					</select>
						</div>
					</div>
					<div class="control-group">
       					<label class="control-label">{{ 'label.fromdate' | translate }}</label>
       					<div class="controls">
             				<input type="text" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened" min="minDate" max="maxDate" date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
                    	</div>
					</div>
					<div class="control-group">
       					<label class="control-label">{{ 'label.todate' | translate }}</label>
       					<div class="controls">
             				<input type="text" datepicker-pop="dd MMMM yyyy" ng-model="to.date" is-open="opened" min="minDate" max="maxDate" date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
                    	</div>
					</div> 
				</td>
			</tr>
		</table>
	</fieldset>
	</form>
   <div class="modal-footer">
         <button id="cancel" class="btn btn-warning" ng-click="reject()">{{'button.cancel' | translate}}</button>
         <button id="submit" class="btn btn-primary" ng-click="accept()" ng-disabled="flag">{{'label.confirm' | translate}}</button>
   </div>

</script> 
    
</div>
