<div>
    <ul class="breadcrumb">
        <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.managepaymentgateway' | translate}}</li>
    </ul>
</div>

<div ng-controller="PaymentGatewayController">
 
    <div>
      <tabset  style="margin-bottom: 0px;">
      
      <tab heading="Payment Gateway" select="getPaymentGateway()">
        <div class="row-fluid">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.paymentgateway.id' | translate}}</th>      
                <th>{{'table.paymentgateway.serialNo' | translate}}</th>
                <th>{{'table.paymentgateway.status' | translate}}</th>
                <th>{{'table.paymentgateway.paymentId' | translate}}</th>
                <th>{{'table.paymentgateway.amountPaid' | translate}}</th>
                <th>{{'table.paymentgateway.paymentDate' | translate}}</th>
                <th>{{'table.paymentgateway.receiptNo' | translate}}</th>
              </tr>
            </thead>
            <tbody>
             <tr ng-repeat="paymentgatewaydata in paymentgatewaydatas  | filter:filterText" ng-show="paymentgatewaydata.status=='Success'">
                
                <td>{{paymentgatewaydata.id}}</td>
                <td>{{paymentgatewaydata.serialNo}}</td>
                <td>{{paymentgatewaydata.status}}</td>
                <td>{{paymentgatewaydata.paymentId}}</td>
                <td>{{paymentgatewaydata.amountPaid}}</td>
                <td>{{paymentgatewaydata.paymentDate}}</td>
                <td>{{paymentgatewaydata.receiptNo}}</td>       
   			</tr>
     		 </tbody>
          </table>
         </div>
      </tab>	
      
      <tab heading="Hardware Mapping" active="hardwarePlanMappingTab">
       <div class="row-fluid">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.paymentgateway.id' | translate}}</th>      
                <th>{{'table.paymentgateway.serialNo' | translate}}</th>
                <th>{{'table.paymentgateway.status' | translate}}</th>
                <th>{{'table.paymentgateway.paymentId' | translate}}</th>
                <th>{{'table.paymentgateway.amountPaid' | translate}}</th>
                <th>{{'table.paymentgateway.paymentDate' | translate}}</th>
                <th>{{'table.paymentgateway.receiptNo' | translate}}</th>
              </tr>
            </thead>
            <tbody>
             <tr ng-repeat="paymentgatewaydata in paymentgatewaydatas  | filter:filterText" ng-show="paymentgatewaydata.status=='Failure'">
                
                <td>{{paymentgatewaydata.id}}</td>
                <td>{{paymentgatewaydata.serialNo}}</td>
                <td>{{paymentgatewaydata.status}}</td>
                <td>{{paymentgatewaydata.paymentId}}</td>
                <td>{{paymentgatewaydata.amountPaid}}</td>
                <td>{{paymentgatewaydata.paymentDate}}</td>
                <td>{{paymentgatewaydata.receiptNo}}</td>       
   			</tr>
     		 </tbody>
          </table>
         </div>
      </tab>
   
    </tabset>
    </div>
  </div>
