	   <div>
        <ul class="breadcrumb">
          <li><a href="#/prospects">{{'link.prospects' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.createprospect' | translate}}</li>
        </ul>
      </div>
      <form name="createprospectsform" class="form-horizontal well" ng-controller="CreateProspectsController" ng-submit="submit()">
       <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
         <strong> Personal Details</strong>

			<table>
					<tr>
						<td>
							<table>
								<tr>
									<td>
										<div class="control-group">
		            					<label class="control-label" for="prospectType">{{ 'label.create.type' | translate }}<span class="required">*</span></label>
		            					<div class="controls">
		              					<input type="radio" ng-model="formData.prospectType" value="1" ng-change="resetCredits()">Individual
		              					<input type="radio" ng-model="formData.prospectType" value="2" ng-change="resetCredits()">Corporate
		            					</div>
		          						</div>
          									
            						</td>
								</tr>
								<tr>
								<td>
								<div class="control-group">
            					<label class="control-label" for="firstName">{{ 'label.firstname' | translate }}<span class="required">*</span></label>
            					<div class="controls">
              					<input type="text" id="firstName" ng-model="formData.firstName" ng-pattern="/^[a-zA-Z0-9\s]+$/" name="firstname" late-Validate>
              					<div ng-show="createprospectsform.firstname.$dirty && createprospectsform.firstname.$invalid">
              							<small class="error" ng-show="createprospectsform.firstname.$error.pattern">alphanumeric and spaces only!</small>
              					  		<small class="error" ng-show="createprospectsform.firstname.$error.req">
                        					Required Field
                    					</small>
              						</div>
           						 </div>
          						</div>
							</td>
							</tr>
							
							<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="middleName">{{ 'label.middlename' | translate }}</label>
            					<div class="controls">
             					 <input type="text" id="middleName" ng-model="formData.middleName">
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
           					 		<label class="control-label" for="lastName">{{ 'label.lastname' | translate }}<span class="required">*</span></label>
            						<div class="controls">
              						<input type="text" id="lastName" ng-model="formData.lastName" ng-pattern="/^[a-zA-Z0-9\s]+$/" name="lastname" late-Validate>
              						<div ng-show="createprospectsform.lastname.$dirty && createprospectsform.lastname.$invalid">
              							<small class="error" ng-show="createprospectsform.lastname.$error.pattern">alphanumeric and spaces only!</small>
              					  		<small class="error" ng-show="createprospectsform.lastname.$error.req">
                        					Required Field
                    					</small>
              						</div>
            						</div>
          							</div>
								</td>
								</tr>
							</table>
						</td>
						<td>
						<table>
							<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="homePhoneNumber">{{ 'label.homephone' | translate }}<span class="required">*</span></label>
            					<div class="controls">
              					<input type="text" id="homePhoneNumber" ng-model="formData.homePhoneNumber" >
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="workPhoneNumber">{{ 'label.officephone' | translate }}<span class="required">*</span></label>
            					<div class="controls">
              					<input type="text" id="workPhoneNumber" ng-model="formData.workPhoneNumber" >
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="mobileNumber">{{ 'label.mobilephone' | translate }}<span class="required">*</span></label>
            					<div class="controls">
              					<input type="text" id="mobileNumber" ng-model="formData.mobileNumber" ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" name="mobilenumber">
              					<div ng-show="createprospectsform.mobilenumber.$dirty && createprospectsform.mobilenumber.$invalid">
        							<small class="error" ng-show="createprospectsform.mobilenumber.$error.pattern">wrong input or accepts only digits !</small>
    							</div>
            					</div>
          						</div>
								</td>
							</tr>
							<tr>
							
								<td>
									<div class="control-group">
            						<label class="control-label" for="email">{{ 'label.emailid' | translate }}<span class="required">*</span></label>
            						<div class="controls">
              						<input type="email" id="email" ng-model="formData.email" name="email">
              						<div ng-show="createprospectsform.email.$dirty && createprospectsform.email.$invalid">
              						<small class="error" ng-show="createprospectsform.email.$error.email">Invalid Email</small>
              						</div>
            						</div>
          							</div>
								</td>
							</tr>
						</table>
						</td>
						</tr>

							
		
			</table>
			<strong></>Address Details</strong>
			<table>
				<tr>
					

								<td>
									<table>
										<tr>
											<td>
												<div class="control-group">
            									<label class="control-label" for="address">{{ 'label.address' | translate }}<span class="required">*</span></label>
            									<div class="controls">
              									<input type="text" id="address" ng-model="formData.address">
            									</div>
          										</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="control-group">
            									<label class="control-label" for="streetArea">{{ 'label.street/area' | translate }}<span class="required">*</span></label>
            									<div class="controls">
              									<input type="text" id="streetArea" ng-model="formData.streetArea">
           										</div>
          										</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="control-group">
            									<label class="control-label" for="city">{{ 'label.city/district' | translate }}<span class="required">*</span></label>
            									<div class="controls">
             					 				<input type="text" id="city" name="city" ng-model="formData.city" list="citylist" ng-change="getStateAndCountry(formData.city)">
            									</div>
          										</div>
          						
          										<datalist id="citylist">
                   								<option  data-ng-repeat="cityData in cityDatas" value="{{cityData}}">
            				    				</datalist>
          						
											</td>
										</tr>
										<tr>
											<td>
												<div class="control-group">
           					 					<label class="control-label" for="state">{{ 'label.state' | translate }}<span class="required">*</span></label>
            									<div class="controls">
              									<input type="text" id="state" ng-model="formData.state">
            									</div>
          										</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="control-group">
            									<label class="control-label" for="country">{{ 'label.country' | translate }}<span class="required">*</span></label>
            									<div class="controls">
              									<input type="text" id="country" ng-model="formData.country">
           						 				</div>
          										</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="control-group">
            									<label class="control-label" for="zipCode">{{ 'label.zipcode' | translate }}<span class="required">*</span></label>
            									<div class="controls">
              									<input type="number" id="zipCode" ng-model="formData.zipCode" name="zipcode" ng-pattern="/^[0-9]+$/">
              									<div ng-show="createprospectsform.zipcode.$dirty && createprospectsform.zipcode.$invalid" >
              										<small class="error" ng-show="createprospectsform.zipcode.$error.pattern">digits only!!</small>
            									</div>
          										</div>
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table>
										<tr>
											<td>
												<div class="control-group">
            									<label class="control-label" for="sourceOfPublicity">{{ 'label.source' | translate }}</label>
            									<div class="controls">
              									<select ng-model="formData.sourceOfPublicity"  ng-options="sourceOfPublicityData.mCodeValue as sourceOfPublicityData.mCodeValue for sourceOfPublicityData in sourceOfPublicityDatas" value="{{sourceOfPublicityData.mCodeValue}}">
             					 				</select>
             									
            									</div>
          										</div>
          						
											</td>
										</tr>
										<tr ng-show="formData.sourceOfPublicity == 'Other'">
											<td>
												<div class="control-group">
												<label class="control-label">{{ 'label.prospect.other' | translate }}</label>
            									<div class="controls">
          										<input type="text" id="sourceOther" ng-model="formData.sourceOther">
            									</div>
          										</div>
          						
											</td>
										</tr>
										<tr>
											<td>
												<div class="control-group">
            									<label class="control-label" for="preferredPlan">{{ 'label.plan' | translate }}</label>
            									<div class="controls">
              									<select ng-model="formData.preferredPlan"  ng-options="planData.id as planData.planDescription for planData in planDatas" value="{{planData.id}}">
             					 				</select>
            									</div>
          										</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="control-group">
                        			<label class="control-label">{{ 'label.nextcalltime' | translate }}</label>
                        			<div class="controls">
                            		<!-- <input type="text" ng-model="first.date" name="preferredCallingTime"/> -->
                            		<input type="text" id="preferredCallingTime" min="minDate" datepicker-pop="dd MMMM yyyy" ng-model="first.date" required late-Validate style="width:130px;background-color:#FFFFFF;" />
                            		 
										<input id="timepicker1" type="text" readonly ng-model="first.time" style="width:60px;background-color:#FFFFFF;">
										<!-- <div class="input-append bootstrap-timepicker">
										<span class="add-on"><i class="icon-time"></i></span>
									</div> -->
                        			</div>
          						</div>	
          						
											</td>
										</tr>
										<tr>
											<td rowspan="3">
											<div class="control-group">
		      								<label class="control-label" for="note">{{ 'label.note' | translate }}<span class="required">*</span></label>
		     								 <div class="controls">
		        								<textarea rows="7" id="note" ng-model="formData.note" style="width: 211px; height: 121px;"></textarea> <!-- style="width: 291px; height: 122px;" -->

		      								 </div>
		    								</div>
											</td>
										</tr>
										
									</table>
								</td>
							</tr>
				
			</table>		

          <div class="offset3">
            <a href="#/prospects"><button type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
          </div>
          
      </form>