<div ng-controller="ActiveClientPreviewScreenController">
	
	<div data-ng-show="blockUI">
		<div class="alert alert-info animated pulse" role="alert">
			<img style="margin-left:400px;" alt="Loading.." ng-src="./selfcare_module/images/loader_circle.gif" width="20px"/>
         	<strong>{{'label.pleasewait'|translate}}</strong>
		</div>
        <!-- <div id="circularG">
            <div id="circularG_1" class="circularG">
            </div>
            <div id="circularG_2" class="circularG">
            </div>
            <div id="circularG_3" class="circularG">
            </div>
            <div id="circularG_4" class="circularG">
            </div>
            <div id="circularG_5" class="circularG">
            </div>
            <div id="circularG_6" class="circularG">
            </div>
            <div id="circularG_7" class="circularG">
            </div>
            <div id="circularG_8" class="circularG">
            </div>
        </div> -->

      </div>
     <!--  <br>
	      <div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
		</div>
	      <div class="alert alert-info animated tada" role="alert">
	         	<strong>Click on Finish button to active your account..</strong>
			</div>
	 	<div class="row paddedleft" style="margin-left:200px;">
			<h3>Payment Details</h3>
			<table width="100%">
				<tr>
					<td width="20%">Full Name&nbsp;:</td>
					<td width="80%">{{formData.fullName}}</td>
				</tr>
				<tr>
					<td>Phone Number&nbsp;:</td>
					<td>{{formData.mobileNo}}</td>
				</tr>
				<tr>
					<td>Email Id&nbsp;:</td>
					<td>{{formData.emailId}}</td>
				</tr>
				<tr>
					<td>Plan&nbsp;:</td>
					<td>{{formData.planName}}</td>
				</tr>
				<tr>
					<td>Amount&nbsp;:</td>
					<td>{{formData.planAmount}}</td>
				</tr>
				
			</table>
			<div class="offset3">
					<button id="submit" ng-click="submitTotalData()" class="btn btn-primary animated pulse">Finish</button>
			</div> 
		</div> -->
</div>