<div ng-controller="ChangeOrderController">
<br/>
<div class="row" ng-show="isOrderPage">
	<span class="animated wobble" style="margin-left:250px;">Package Selection</span>
	<span style="margin-left:240px;">Payment</span><br/>
	<img class="animated wobble" style="margin-left:280px;" alt="Registration" src="./selfcare_module/images/Subscribe.jpg" width="60px;">
	<img style="margin-left:280px;" alt="Registration" src="./selfcare_module/images/Payment.jpg" width="60px;"><br/>
	<img class="animated pulse" style="margin-left:290px;margin-top:-28px" alt="ok" src="./selfcare_module/images/checkbox.png" width="40px;">
</div>
<div class="row" ng-show="isPaymentPage">
	<span style="margin-left:250px;">Package Selection</span>
	<span class="animated wobble" style="margin-left:240px;">Payment</span><br/>
	<img style="margin-left:280px;" alt="Registration" src="./selfcare_module/images/Subscribe.jpg" width="60px;">
	<img class="animated wobble" style="margin-left:280px;" alt="Registration" src="./selfcare_module/images/Payment.jpg" width="60px;"><br/>
	<img class="animated pulse" style="margin-left:630px;margin-top:-28px" alt="ok" src="./selfcare_module/images/checkbox.png" width="40px;">
</div>
<div ng-show="isRedirectToDalpay">
<div class="alert alert-info animated pulse" role="alert">
	<img style="margin-left:400px;" alt="Loading.." ng-src="./selfcare_module/images/loader_circle.gif" width="20px"/>
         <strong> Redirecting To dalpay</strong>
		</div>
</div>
      <div ng-show="isOrderPage">
	        <div class="animated bounce">
	       	<h3>Packages</h3>
	      		<div  style="margin-left:50px;">
		      <tabset horizontal="true" type="pills">
			    <tab heading="{{plan.planCode}}" ng-repeat="plan in plansData">
			    	<table class="table" ng-repeat="contractData in plan.pricingData track by $index">
			    		<tbody>
			    		  <tr>
			    			 <td class="animated pulse" style="border-bottom:1px solid #dddddd;border-top:0px;padding-top:30px;">
			    				 <span style="color:#0088cc;font-size:2.5em;">{{contractData.duration}}</span>
			    			</td>
			    			<td style="border-bottom:1px solid #dddddd;border-top:0px;">
			    				<a class="btn btn-primary cust-btn animated swing" 
			    				  ng-click="selectedPLandAm(contractData.contractId,plan.planId,contractData.billingFrequency,contractData.price,contractData.planCode,contractData.duration)">Book Order</a>
			    				<span class="dollars animated pulse">{{contractData.price}}</span>
			    				<span class="sup animated pulse">Rs.</span>
			    			</td>
			    		  </tr>
			    		</tbody>
			    	</table>
			    </tab>
			  </tabset>
		    </div> 
		   </div>
	   </div>
	<form name="paymentBtnForm" novalidate="" class="form-horizontal well" ng-show="isPaymentPage">
		<br>
		 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
		<fieldset class="animated bounce">
			<h3 style="padding-left:50px;">Payment Page</h3>
			<div class="row paddedleft" style="margin-left:200px;">
			<table width="100%">
				<tr>
					<td width="30%"><strong>Package Name</strong></td>
					<td width="70%" class="animated pulse" style="color:#0088cc;font-size:1.5em;">:&nbsp;{{formData.planName}}</td>
				</tr>
				<tr>
					<td><strong>Contract Period<s/trong></td>
					<td class="animated pulse" style="color:#0088cc;font-size:1.5em;">:&nbsp;{{duration}}</td>
				</tr>
				<tr>
					<td><strong>Price</strong></td>
					<td class="animated pulse" style="color:#0088cc;font-size:1.5em;">:&nbsp;{{formData.planAmount}}</td>
				</tr>
				
			</table>
			</div><br/>
			<table style="margin-left:50px;">
	       		<tr>
	       			<td>
            			<div class="control-group">
            				<div class="controls">
            					<input type="radio" name="selectType" checked/>&nbsp;Dalpay
            				</div>
        				 </div>
	         				 
	       			</td>
	       		</tr>
	       	</table>
	       
			<div class="offset3">
				<a ng-disabled="isRedirectToDalpay" ng-click="cancelPaymentFun()"  class="btn">Cancel</a> 
				<a href="{{paymentDalpayURL}}" ng-click="makePaymentFun()" 
					ng-disabled="isRedirectToDalpay" class="btn btn-primary animated fadeInUp">Make Payment</a>
			</div> 
		</fieldset>
	</form>
	<form name="isAmountZeroForm" novalidate="" class="form-horizontal well" ng-show="isAmountZero">
		<br>
		 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
		<fieldset class="animated bounce">
			<h3 style="padding-left:50px;">Subscription Page</h3>
	 	 <div class="row paddedleft" style="margin-left:200px;">
			<table width="100%">
				<tr>
					<td width="30%"><strong>Package Name</strong></td>
					<td width="70%" class="animated pulse" style="color:#0088cc;font-size:1.5em;">:&nbsp;{{formData.planName}}</td>
				</tr>
				<tr>
					<td><strong>Contract Period<s/trong></td>
					<td class="animated pulse" style="color:#0088cc;font-size:1.5em;">:&nbsp;{{duration}}</td>
				</tr>
				<tr>
					<td><strong>Price</strong></td>
					<td class="animated pulse" style="color:#0088cc;font-size:1.5em;">:&nbsp;{{formData.planAmount}}</td>
				</tr>
				
			</table>
			</div><br/>
	       <div class="offset3">
				<a ng-click="cancelPaymentFun()"  class="btn">Cancel</a> 
				<a ng-click="finishBtnFun()" class="btn btn-primary animated fadeInUp">Subscribe</a>
			</div> 
			 
		</fieldset>
	</form>
</div>