<div ng-controller="ChangePasswordController">
	<div>
		<ul class="breadcrumb">
			<li class="active">Change Password</li>
		</ul>
	</div>
	<div class="loading-widget-div" data-ng-show="blockUI">
        <div id="circularG">
            <div id="circularG_1" class="circularG">
            </div>
            <div id="circularG_2" class="circularG">
            </div>
            <div id="circularG_3" class="circularG">
            </div>
            <div id="circularG_4" class="circularG">
            </div>
            <div id="circularG_5" class="circularG">
            </div>
            <div id="circularG_6" class="circularG">
            </div>
            <div id="circularG_7" class="circularG">
            </div>
            <div id="circularG_8" class="circularG">
            </div>
        </div>

      </div>
<form name="changePwdForm" novalidate="" class="form-horizontal well"  ng-submit="submit()">

 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
		<legend>Change Password</legend>
		<table width="100%">
			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="priority">New Password<span class="required">*</span></label>
						<div class="controls">
							<input type="password" id="pwd" name=password ng-model="pwdData.newPassword" ng-change="passwordCheck()" required  late-Validate/>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="priority">Confirm Password<span class="required">*</span></label>
						<div class="controls">
							<input type="password" id="re-pwd" name=re-password ng-model="pwdData.confirmPassword" ng-change="passwordCheck()" required  late-Validate/>
							<div ng-show="retype_pwd_valid">
			        			<small class="error" >Password didnot Match !</small>
			    			</div>
						</div>
					</div>
				</td>
			</tr>
		</table>	
		<div class="offset3">
			<a id="cancel" href="#/additionalOrders"><button type="reset" class="btn">Cancel</button></a>
			<button id="submit" type="submit" ng-disabled="!changePwdForm.$valid" class="btn btn-primary">Save</button>
		</div>
	</fieldset>
</form>
</div>
