<div ng-controller="CloseClientController">
	<div>
		<ul class="breadcrumb">
			<li><a href="#/profile">Profile</a> <span class="divider">/</span></li>
			<li class="active">Close Client</li>
		</ul>
	</div>
<form name="closeclientform" class="form-horizontal well"  ng-submit="submit()">

 		<div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
		<legend>{{'label.closeclient' | translate}}</legend>
			    <div class="control-group">
					<label class="control-label" for="Date"> Closure date <span class="required">*</span></label>
					 <div class="controls">
						<input type="text" datepicker-pop="dd MMMM yyyy" ng-model="close.date" is-open="opened" min="minDate" max="maxDate"
							date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;" readonly/>
					</div>
				</div>
          
	            <div class="control-group">
	                <label class="control-label"> Closure Reason<span class="required">*</span></label>
	                <div class="controls">
		                  <select ng-model="formData.closureReasonId" ng-options="closureReason.id as closureReason.name for closureReason in closureReasons" value="{{closureReason.id}}">
		                 </select>
	                </div>
	            </div>
          
            <div class="offset3">
          		  <a id="cancel" href='#/profile'><button type="reset" class="btn">Cancel</button></a>
           		 <button id="submit" type="submit" class="btn btn-primary">Submit</button>
          </div>	
    </fieldset>
</form>
</div>
