<div ng-controller="EventDetailsPreviewScreenController">
	
	<div data-ng-show="blockUI">
		<div class="alert alert-info animated pulse" role="alert">
			<img style="margin-left:400px;" alt="Loading.." ng-src="./selfcare_module/images/loader_circle.gif" width="20px"/>
         	<strong>Please Wait..</strong>
		</div>
        <!-- <div id="circularG">
            <div id="circularG_1" class="circularG">
            </div>
            <div id="circularG_2" class="circularG">
            </div>
            <div id="circularG_3" class="circularG">
            </div>
            <div id="circularG_4" class="circularG">
            </div>
            <div id="circularG_5" class="circularG">
            </div>
            <div id="circularG_6" class="circularG">
            </div>
            <div id="circularG_7" class="circularG">
            </div>
            <div id="circularG_8" class="circularG">
            </div>
        </div> -->

      </div>
      <!-- <br>
	      <div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
		</div>
	      <div class="alert alert-info animated tada" role="alert">
	         	<strong>Click on Finish button to active your Events..</strong>
			</div>
	 	<div class="row paddedleft">
			<h3>Events Details</h3>
				<table class="table">
			        <thead>
			            <tr class="graybg">
			                <th>Event Name</th>
			                <th>Quality</th>
			                <th>Price</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr class="pointer-main" ng-repeat="mediaData in mediaDatas  | filter:filterText" >
			                <td class="pointer">{{mediaData.mediaTitle}}</td>
			                <td class="pointer">{{mediaData.quality}}</td>
			                <td class="pointer">{{mediaData.price}}</td>
			            </tr>
			        </tbody>
			    </table>
			<div class="pull-right">
					<button id="submit" ng-click="submitEventData()" class="btn btn-primary animated pulse">Finish</button>
			</div> 
		</div> -->
</div>