<div ng-controller="CreateTicketController">
	 <div class="loading-widget-div" data-ng-show="blockUI">
        <div id="circularG">
            <div id="circularG_1" class="circularG">
            </div>
            <div id="circularG_2" class="circularG">
            </div>
            <div id="circularG_3" class="circularG">
            </div>
            <div id="circularG_4" class="circularG">
            </div>
            <div id="circularG_5" class="circularG">
            </div>
            <div id="circularG_6" class="circularG">
            </div>
            <div id="circularG_7" class="circularG">
            </div>
            <div id="circularG_8" class="circularG">
            </div>
        </div>

      </div>
	<div>
		<ul class="breadcrumb">
			<li><a href="#/tickts">{{'link.tickets' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'label.creatticket' | translate}}</li>
		</ul>
	</div>
<form name="createticketform" class="form-horizontal well"  ng-submit="submit()">

 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
		<legend>{{'label.creatticket' | translate}}</legend>
		<table width="100%">
			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="Date">{{'label.ticket.date' | translate }}</label>
						<div class = "controls">
							 <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened" min="minDate" max="maxDate" 
							 date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
						</div>
					</div>
				</td>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="priority">{{'label.ticket.priority' | translate }}<span class="required">*</span></label>
						<div class="controls">
							<select name="priority" ng-model="formData.priority"
								ng-options="priorityType.value as priorityType.value for priorityType in priorityTypes"
								value="{{priorityType.value}}" required late-Validate></select>
						
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="Category">{{'label.ticket.category' | translate }}<span class="required">*</span></label>
						<div class="controls">
							<select name="category" ng-model="formData.problemCode"
								ng-options="problemsData.problemCode as problemsData.problemDescription for problemsData in problemsDatas"
								value="{{problemsData.problemCode}}" required late-Validate></select>
						</div>
					</div>
				</td>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="chargeCode">{{'label.ticket.assignto' | translate }}<span class="required">*</span></label>
						<div class="controls">
							<select ng-model="formData.assignedTo"
								ng-options="usersData.id as usersData.userName for usersData in usersDatas"
								value="{{usersData.id}}" required late-Validate></select>
						</div>
					</div>
				</td>
				

			</tr>
			<tr>
				<td>
					<div class="control-group">
            			<label class="control-label" for="sourceData">{{ 'label.source' | translate }}</label>
            			<div class="controls">
              				<select ng-model="formData.sourceOfTicket"  ng-options="sourcedata.mCodeValue as sourcedata.mCodeValue for sourcedata in sourceData" value="{{sourcedata.mCodeValue}}">
             				</select>
             									
            			</div>
          			</div>
				</td>
				
				<td>
					<div class="control-group">
                        <label class="control-label">{{ 'label.due.time' | translate }}</label>
                        <div class="controls">
                            <input type="text" id="preferredCallingTime" min="minDate" datepicker-pop="dd MMMM yyyy" ng-model="first.date"  style="width:130px;background-color:#FFFFFF;" />
                            		 
							<input id="timepicker1" type="text" readonly ng-model="first.time" style="width:60px;background-color:#FFFFFF;">
									
                        </div>
          			</div>	
				</td>
			</tr>
			</table>
				<center><i>{{ 'label.ticket.tooltip.description' | translate }}</i><span class="required">*</span></center>
		
					<div class="control-group">
						<label class="control-label" for="description">{{ 'label.ticket.description' | translate }}<span class="required">*</span></label>
						<div class="controls">
							    <textarea ng-model="formData.description" name="description" style="width:92%; height:8em;" required late-Validate></textarea>
						</div>
					</div>
				

		<div class="pull-right">
			<a id="cancel" href="#/tickets"><button type="reset" class="btn">{{'btn.cancel' | translate}}</button></a>
			<button id="submit" type="submit" ng-disabled="!createticketform.$valid" class="btn btn-primary">{{'btn.save' | translate}}</button>
		</div>
	</fieldset>
</form>
</div>
