<div ng-controller="PaymentButtonsController">
	<form name="paymentBtnForm" novalidate="" class="form-horizontal well" ng-submit="submit()">
		<br>
		 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
		<fieldset>
			<h3 style="padding-left:50px;">Payment Page</h3>
			<table style="margin-left:50px;">
	       		<tr>
	       			<td>
            			<div class="control-group">
            				<div class="controls">
            					<input type="radio" name="selectType"  ng-click="selectedDalpay()" checked/>&nbsp;Dalpay
            				</div>
        				 </div>
	         				 
	       			</td>
	       		</tr>
	       		<!-- <tr>
	       			<td>
            			<div class="control-group">
            				<div class="controls">
            					<input type="radio" name="selectType"  ng-click="selectedPaypal()"/>&nbsp;Paypal
            				</div>
        				 </div>
	         				 
	       			</td>
	       		</tr> -->
	       	</table>
	       
			<div class="offset3">
				<a id="cancel" href='#/registrationsuccess' class="btn">Cancel</a>
				<a id="submit" href="{{dalpayURL}}" 
				type="submit" class="btn btn-primary">Make Payment</a>
				 <!-- <a  target="_blank" href="www.google.com" id="employeeLink">Employee1</a> -->
			</div> 
		</fieldset>
	</form>
</div>