<div ng-controller="PlansController">
	<div>
	    <ul class="breadcrumb">
	        <li class="active">Plans</li>
	    </ul>
    </div>
 	<div class="row-fluid">
		    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by Order No">
		<br/>
		<table class="table">
	        <thead>
	            <tr class="graybg">
	                <th>Order No</th>
	                <th>Plan</th>
	                <th>Contract Period</th>
	                <th>Activation Date</th>
	                <th>Start/Renewal Date</th>
	                <th>End Date</th>
	                <th>Price</th>
	                <th>status</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr class="pointer-main" ng-repeat="order in ordersData  | filter:filterText" >
	                <td class="pointer">{{order.id}}</td>
	                <td class="pointer">{{order.planCode}}</td>
	                <td class="pointer">{{order.contractPeriod}}</td>
	                <td class="pointer">{{order.activeDate | DateFormat}}</td>
	                <td class="pointer">{{order.startDate | DateFormat}}</td>
	                <td class="pointer">{{order.endDate | DateFormat}}</td>
	                <td class="pointer">{{order.price }}</td>
	                <td class="pointer"><i class="icon-stop {{order.status | StatusLookup}}"></i>&nbsp;{{order.status}}</td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</div>