<div ng-controller="PreviewScreenController">
 	<div class="row paddedleft" style="margin-left:200px;">
		<h3>Payment Details</h3>
		<table width="100%">
			<tr>
				<td width="20%">Full Name&nbsp;:</td>
				<td width="80%">{{formData.fullName}}</td>
			</tr>
			<tr>
				<td>Phone Number&nbsp;:</td>
				<td>{{formData.mobileNo}}</td>
			</tr>
			<tr>
				<td>Email Id&nbsp;:</td>
				<td>{{formData.emailId}}</td>
			</tr>
			<tr>
				<td>Plan&nbsp;:</td>
				<td>{{formData.planName}}</td>
			</tr>
			<tr>
				<td>Amount&nbsp;:</td>
				<td>{{formData.planAmount}}</td>
			</tr>
			
		</table>
		<div class="offset3">
				<button id="submit" ng-click="submitTotalData()" class="btn btn-primary">Finish</button>
		</div> 
	</div>
</div>