  <div id="animated-example2" class="animated bounceIn" ng-controller="SignUpFormController">
   		<h2 style="color:#000000"><strong>Sign Up</strong></h2><hr>
   		<div class="alert alert-danger animated tada" role="alert" data-ng-show="emptySignUpCredentials">
 		 		<strong>Please fill Email Field..</strong>
 		 	</div>
   		 <table>
   		    <tr>
			 <td><i class="icon-user"></i></td>
			 <td><input id="emailId" ng-autofocus="true" type="email" ng-model="signUpCredentials.userName" class="input-xtra-large" 
						ng-disabled="isProcessing" placeholder="Email" required></td>
			</tr>
	      </table><br/><br/>
	      <div ng-hide="isProcessing">
          	<button class="btn btn-primary pull-right btn-xtra-styles" ng-click="signUpBtnFun()">{{ 'btn.signin' | translate }}</button>
          	<button class="btn btn-success pull-right btn-xtra-styles" ng-click="submitEmail()">{{ 'btn.signup' | translate }}</button>
          </div>
          <div class="btn pull-right" style="color:#000000;padding:5px;" ng-show="isProcessing">{{'label.pleasewait' | translate}}
			<img alt="Loading.." ng-show="isProcessing" ng-src="./selfcare_module/images/ajax-loader.gif" width="20px"/>
		  </div> 

	<!-- <input ng-autofocus="true" type="email" ng-model="signUpCredentials.userName" placeholder="example@domain.com" style="width:155px;" required>
	<button class="btn btn-success" ng-click="submitEmail()" ng-hide="isProcessing" ng-disabled="!signUpForm.$valid">{{'btn.signup' | translate}}</button>
		<span class="btn" style="color:#000000;padding:5px;" ng-show="isProcessing">{{'label.pleasewait' | translate}}
			<img alt="Loading" ng-show="isProcessing" ng-src="./selfcare_module/images/loader.gif" width="20px"/>
		</span> -->
	</div>
	<script type="text/ng-template" id="successpopup.html">
                    
                    <div class="modal-body modal-small" style="padding:25px 0px 0px 35px;">
                       	<div class="control-group">
							<div class="controls">
						 	   Thank you for registering! A conformation mail has sent to <a>{{mailId}}</a>.
								 Please click on the Activation Link <br>to activate your account 
							</div>	
						</div>
                    </div>
                    <div class="modal-footer">
                        <a id="submit" class="btn btn-primary" href="http://www.gmail.com" ng-click="reject()">{{'btn.done' | translate}}</a>
                    </div>
      </script>
      <script type="text/ng-template" id="alredyexistpopup.html">
                    
                    <div class="modal-body modal-small" style="padding:25px 0px 0px 35px;">
                       	<div class="control-group">
							<div class="controls">
							   Client is already Registered with this <a>{{mailId}}</a>.<br/>
							   Please Sign In..!
							</div>	
						</div>
                    </div>
                    <div class="modal-footer">
                        <a id="submit" class="btn btn-primary" ng-click="reject()">{{'btn.done' | translate}}</a>
                    </div>
      </script>


<!-- <form name="signUpForm" novalidate="" class="form-horizontal well" >
			<fieldset>
				  <legend><strong style="color:#9391A2;">SignUp Form</strong></legend>
			       	<table  width="50%">
			       		<tr>
			       			<td>
			             			<div class="control-group">
			             				<label class="control-label">{{'label.email' | translate}}&nbsp;&nbsp;:<span class="required">*</span></label>
			             				<div class="controls">
			             					<input ng-autofocus="true" type="email" ng-model="formData.userName" placeholder="example@domain.com" class="input-large" required><br/>
			             				</div>
			         				 </div>
			         				 
			       			</td>
			       		</tr>
			       		<tr>
			       			<td>
			       				<div class="pull-right">
			             				<button class="btn btn-primary" ng-click="submitEmail()" ng-hide="isProcessing" ng-disabled="!signUpForm.$valid">{{'btn.register' | translate}}</button>
			             				<span class="btn" style="color:#000000;padding:5px;" ng-show="isProcessing">{{'label.pleasewait' | translate}}
			             					<img alt="Loading" ng-show="isProcessing" ng-src="./selfcare_module/images/loader.gif" width="20px"/>
			             				</span>
			         				</div>
			       			</td>
			       		</tr>
			       		
			       	</table>
			</fieldset>
	</form> -->
