<div ng-controller="StatementsController">
	<div>
	    <ul class="breadcrumb">
	        <li class="active">Statements</li>
	    </ul>
    </div>
 	<div class="row-fluid">
		    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by Id">
		<br/>
		<table class="table">
	        <thead>
	             <tr class="graybg">
	                <th>Id</th>
	                <th>Bill Date</th>
	                <th>Due Date</th>
	                <th>amount</th>
            	</tr>
	        </thead>
	        <tbody>
	            <tr class="pointer-main" ng-repeat="statement in statementsData  | filter:filterText" >
	                <td class="pointer">{{statement.id}}</td>
	                <td class="pointer">{{statement.billDate | DateFormat}}</td>
	                <td class="pointer">{{statement.dueDate | DateFormat}}</td>
	                <td class="pointer">{{statement.amount}}</td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</div>