<div class="row paddedleft paddedtop">
  <div class="span6">
	  <div class="list-group">
	    <a class="list-group-item" href="#/offices">
	      <h4 class="list-group-item-heading"><i class="icon-building icon-large"></i>&nbsp;&nbsp;Manage Offices</h4>
	      <p class="list-group-item-text">Add new office or modify or inactivate office or modify office heirarchy</p>
	    </a>
	   <!--  <a class="list-group-item" href="#/holidays">
	      <h4 class="list-group-item-heading"><i class="icon-calendar icon-large"></i>&nbsp;&nbsp;Manage Holidays</h4>
	      <p class="list-group-item-text">Define holidys for offices</p>
	    </a> -->
	    <a class="list-group-item" href="#/employees">
	      <h4 class="list-group-item-heading"><i class="icon-user icon-large"></i>&nbsp;&nbsp;Manage Employees</h4>
	      <p class="list-group-item-text"></p>
	    </a>
	    
	     <a class="list-group-item" href="#/contract">
	      <h4 class="list-group-item-heading"><i class="icon-calendar icon-large"></i>&nbsp;&nbsp;Contract Details</h4>
	      <p class="list-group-item-text">Define Contracts for Plan</p>
	    </a>
	     <a class="list-group-item" href="#/media">
	      <h4 class="list-group-item-heading"><i class="icon-film icon-large"></i>&nbsp;&nbsp;Media Details</h4>
	      <p class="list-group-item-text">Define Media Details</p>
	    </a>
	    <a class="list-group-item" href="#/event">
	      <h4 class="list-group-item-heading"><i class="icon-eye-open icon-large"></i>&nbsp;&nbsp;Event Price</h4>
	      <p class="list-group-item-text">Event Price</p>
	    </a>
	    
	     <a class="list-group-item" href="#/discounts">
	      <h4 class="list-group-item-heading"><i class="icon-tags icon-large"></i>&nbsp;&nbsp;Discounts</h4>
	      <p class="list-group-item-text">A Discounts</p>
	    </a>
	    
	    </a>
	      <a class="list-group-item" href="#/currencydetails">
	      <h4 class="list-group-item-heading"><i class="icon-briefcase icon-large"></i>&nbsp;&nbsp;Currency Details</h4>
	      <p class="list-group-item-text">A Currency Details</p>
	    </a>
	    <a class="list-group-item" href="#/addressmanage">
	      <h4 class="list-group-item-heading"><i class="icon-list icon-large"></i>&nbsp;&nbsp;Manage Addresses</h4>
	      <p class="list-group-item-text">For Country,State,and City</p>
	    </a>
	    
	  </div>    
  </div>
  <div class="span6">
	  <div class="list-group">
	    <a class="list-group-item" href="#/currconfig">
	      <h4 class="list-group-item-heading"><i class="icon-large icon-cogs"></i>&nbsp;&nbsp;Currency Configuration</h4>
	      <p class="list-group-item-text">Currencies available across organization for different products</p>
	    </a>
	   <!--  <a class="list-group-item" href="#/managefunds">
	      <h4 class="list-group-item-heading"><i class="icon-large icon-money"></i>&nbsp;&nbsp;Manage Funds</h4>
	      <p class="list-group-item-text">Funds are associated with loans</p>
	    </a> -->
	   <!--  <a class="list-group-item" href="#/bulkloan">
	      <h4 class="list-group-item-heading"><i class="icon-large icon-double-angle-right"></i>&nbsp;&nbsp;Bulk Loan Reassignment </h4>
	      <p class="list-group-item-text">Easy way to ressign all the loan from one LO to another LO</p>
	    </a> -->
	     <a class="list-group-item" href="#/services">
	      <h4 class="list-group-item-heading"><i class="icon-large icon-cogs"></i>&nbsp;&nbsp;Services</h4>
	      <p class="list-group-item-text">Different Services for Plans</p>
	    </a>
	     <a class="list-group-item" href="#/plans">
	      <h4 class="list-group-item-heading"><i class="icon-certificate icon-large"></i>&nbsp;&nbsp;Plan & Pricing</h4>
	      <p class="list-group-item-text">Define Plans for customers service</p>
	       </a>
	         <a class="list-group-item" href="#/regions">
	      <h4 class="list-group-item-heading"><i class="icon-globe icon-large"></i>&nbsp;&nbsp;Regions</h4>
	      <p class="list-group-item-text">Regions</p>
	      </a>
	      <a class="list-group-item" href="#/voucherpins">
	      <h4 class="list-group-item-heading"><i class="icon-gift icon-large"></i>&nbsp;&nbsp;Voucher Pins</h4>
	      <p class="list-group-item-text">A Vocher pins</p>
	    </a>
	    <a class="list-group-item" href="#/chargecode">
	      <h4 class="list-group-item-heading"><i class=" icon-th-list icon-large"></i>&nbsp;&nbsp;Charge Code</h4>
	      <p class="list-group-item-text">Charge Code Details	</p>
	       <a class="list-group-item" href="#/message">
	      <h4 class="list-group-item-heading"><i class="icon-book icon-large"></i>&nbsp;&nbsp;Message</h4>
	      <p class="list-group-item-text">A Message</p>
	    </a>
	    </a>
	    <a class="list-group-item" href="#/groupsDetails">
	      <h4 class="list-group-item-heading"><i class="icon-gift icon-large"></i>&nbsp;&nbsp;Groups</h4>
	      <p class="list-group-item-text">Groups</p>
	    </a>
	    
	  </div>
  </div>
</div>