<div class="row paddedleft paddedtop" ng-controller="OfficesModuleController">
  <div class="span6">
	  <div class="list-group">
	    <a class="list-group-item" href="#/offices" ng-show="PermissionService.showMenu('READ_OFFICE')">
	      <h4 class="list-group-item-heading"><i class="icon-building icon-large"></i>&nbsp;&nbsp;Manage Offices</h4>
	      <p class="list-group-item-text">Add new office or modify or inactivate office or modify office heirarchy</p>
	    </a>
	    <a class="list-group-item" href="#/employees" ng-show="PermissionService.showMenu('READ_STAFF')">
	      <h4 class="list-group-item-heading"><i class="icon-user icon-large"></i>&nbsp;&nbsp;Manage Employees</h4>
	      <p class="list-group-item-text">Create Employees of the Organisation</p>
	    </a>
	    </a>
	      <a class="list-group-item" href="#/currencydetails" ng-show="PermissionService.showMenu('READ_COUNTRYCURRENCY')">
	      <h4 class="list-group-item-heading"><i class="icon-briefcase icon-large"></i>&nbsp;&nbsp;Currency Details</h4>
	      <p class="list-group-item-text">Enter the Currency that will be mapped </p>
	    </a>
	     <a class="list-group-item" href="#/addressmanage" ng-show="PermissionService.showMenu('READ_LOCATION')">
	      <h4 class="list-group-item-heading"><i class="icon-list icon-large"></i>&nbsp;&nbsp;Address Master</h4>
	      <p class="list-group-item-text">Manage Geographical Address heirarchy</p>
	    </a> 
	     <a class="list-group-item" href="#/voucherpins" ng-show="PermissionService.showMenu('READ_RANDAMGENERATOR')">
	      <h4 class="list-group-item-heading"><i class="icon-gift icon-large"></i>&nbsp;&nbsp;Voucher Pins</h4>
	      <p class="list-group-item-text">Generate Voucher Pins for Redemption</p>
	    </a>
	     <a class="list-group-item" href="#/message" ng-show="PermissionService.showMenu('READ_MESSAGE')">
	      <h4 class="list-group-item-heading"><i class="icon-book icon-large"></i>&nbsp;&nbsp; Message Template</h4>
	      <p class="list-group-item-text">Define the Message Templates</p>
	    </a>
	     <a class="list-group-item" href="#/ipPooling">
	      <h4 class="list-group-item-heading"><i class="icon-list icon-large"></i>&nbsp;&nbsp;IP Pool</h4>
	      <p class="list-group-item-text">Create the IP Address Pools</p>
	    </a>
	     <a class="list-group-item" href="#/groupsDetails" ng-show="PermissionService.showMenu('READ_GROUPS')">
	      <h4 class="list-group-item-heading"><i class="icon-gift icon-large"></i>&nbsp;&nbsp;Closed User Group</h4>
	      <p class="list-group-item-text">Manage CUG Innformation</p>
	    </a>
	    
	    
	  </div>    
  </div>
  <div class="span6">
	  <div class="list-group">
	   <a class="list-group-item" href="#/contract" ng-show="PermissionService.showMenu('READ_CONTRACT')">
	      <h4 class="list-group-item-heading"><i class="icon-calendar icon-large"></i>&nbsp;&nbsp;Contract Period</h4>
	      <p class="list-group-item-text">Define Order Contract Period</p>
	    </a>
	       <a class="list-group-item" href="#/chargecode" ng-show="PermissionService.showMenu('READ_CHARGECODE')">
	      <h4 class="list-group-item-heading"><i class=" icon-th-list icon-large"></i>&nbsp;&nbsp;Charge Code</h4>
	      <p class="list-group-item-text">Define the Billing Charge Codes</p>
	      </a>
	       <a class="list-group-item" href="#/discounts" ng-show="PermissionService.showMenu('READ_DISCOUNT','READ_PROMOTIONCODE')">
	      <h4 class="list-group-item-heading"><i class="icon-tags icon-large"></i>&nbsp;&nbsp;Discount & Promotions</h4>
	      <p class="list-group-item-text">Manage Discount and Promotion definitions</p>
	      </a>
	        <a class="list-group-item" href="#/regions" ng-show="PermissionService.showMenu('READ_REGION')">
	      <h4 class="list-group-item-heading"><i class="icon-globe icon-large"></i>&nbsp;&nbsp;Price Region</h4>
	      <p class="list-group-item-text">Define the region for price variations</p>
	      </a>
	     <a class="list-group-item" href="#/media" ng-show="PermissionService.showMenu('READ_MEDIAASSET')">
	      <h4 class="list-group-item-heading"><i class="icon-film icon-large"></i>&nbsp;&nbsp;Media Details</h4>
	      <p class="list-group-item-text">Manage various Media Asset Information</p>
	    </a>
	    <a class="list-group-item" href="#/event" ng-show="PermissionService.showMenu('READ_EVENT')">
	      <h4 class="list-group-item-heading"><i class="icon-eye-open icon-large"></i>&nbsp;&nbsp;Event Price</h4>
	      <p class="list-group-item-text">Define the Media Asset and it's Pricing</p>
	    </a>
	       <a class="list-group-item" href="#/services" ng-show="PermissionService.showMenu('READ_SERVICE')">
	      <h4 class="list-group-item-heading"><i class="icon-large icon-cogs"></i>&nbsp;&nbsp;Services</h4>
	      <p class="list-group-item-text">Define various types of Services</p>
	    </a>
	     <a class="list-group-item" href="#/plans" ng-show="PermissionService.showMenu('READ_PLAN')">
	      <h4 class="list-group-item-heading"><i class="icon-certificate icon-large"></i>&nbsp;&nbsp;Plan & Pricing</h4>
	      <p class="list-group-item-text">Define Plans for customers service</p>
	       </a>
	
		<!-- <a class="list-group-item" href="#/redemption">
	      <h4 class="list-group-item-heading"><i class="icon-gift icon-large"></i>&nbsp;&nbsp;Redemption</h4>
	      <p class="list-group-item-text">For Redemption</p>
	    </a>
	     
	    	    <a class="list-group-item" href="#/currconfig" ng-show="PermissionService.showMenu('READ_CURRENCY')">
	      <h4 class="list-group-item-heading"><i class="icon-large icon-cogs"></i>&nbsp;&nbsp;Currency Configuration</h4>
	      <p class="list-group-item-text">Currencies available across organization for different products</p>
	    </a>
	   
		 -->
	    
	  </div>
  </div>
</div>