
<form class="form-horizontal1 well" ng-submit="submit2()">
	 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
		<legend>{{'label.add.client.onetimesale' | translate}}</legend>

			
					<table width="100%">
						<tr>
							<td width="60%">
								<div class="control-group1">
                        		<label class="control-label">{{ 'label.saleDate' | translate }}</label>
                        		<div class="controls">
                            	<input type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.saleDate" is-open="opened2" max="maxDate" 
                            	date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;"  readonly/>
                        		</div>
          						</div>
							</td>
							<td width="40%">
								<div class="control-group1">
            					<label class="control-label" for="chargeCode">{{ 'label.chargeCode' | translate }}</label>
            					<div class="controls">
              					<input type="text" id="chargeCode" ng-model="formData4.chargeCode">
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group1">
            					<label class="control-label" for="itemId">{{ 'label.itemCode' | translate }}</label>
            					<div class="controls">
             					 <select ng-model="formData4.itemId" ng-change="itemData(formData4.itemId)" ng-options="itemData.id as itemData.itemCode for itemData in itemDatas" value="{{itemData.id}}">
             					 </select>
            					</div>
          						</div>
							</td>
							<td>
								<div class="control-group1">
            					<label class="control-label" for="totalPrice">{{ 'label.totalPrice' | translate }}</label>
            					<div class="controls">
              					<input type="text" id="totalPrice" ng-model="formData4.totalPrice">
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group1">
            					<label class="control-label" for="quantity">{{ 'label.quantity' | translate }}</label>
            					<div class="controls">
              					<input type="text" id="quantity" ng-change="itemDataQuantity(formData4.quantity,formData4.itemId)" ng-model="formData4.quantity">
            					</div>
          						</div>
							</td>
							<td>
								<div class="control-group1">
            					<label class="control-label" for="unitPrice">{{ 'label.unitPrice' | translate }}</label>
            					<div class="controls">
              					<input type="text" id="unitPrice" ng-model="formData4.unitPrice">
            					</div>
          						</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group1">
            					<label class="control-label" for="discountId">{{ 'label.discountCode' | translate }}</label>
            					<div class="controls">
             					 <select ng-model="formData4.discountId"  ng-options="discountMasterData.discountMasterId as discountMasterData.discountDescription for discountMasterData in discountMasterDatas" value="{{discountMasterData.id}}">
             					 </select>
            					</div>
          						</div>
          					</td>
								
							</tr>
					</table>
			
				
			
	</fieldset>
	<div class="jw-footer ui-widget-header ui-corner-bottom">
              <div class="jw-buttons ui-helper-clearfix">
                 <a href="#/clients"><button type="reset" class="btn">Cancel</button></a>
                 <a href=""><button  class="jw-button-prev btn btn-primary" type="button" ng-show="previous" ng-click="previousStepmain()" style="display: inline-block;">Previous</button></a>
                 <button type="submit" class="jw-button-next btn btn-primary"  ng-show="next" ng-click="nextStepmain()">Next</button>
             </div>
          </div>
</form>
   
 
 
         
    