<div ng-controller="ClientController">
<div>
    <ul class="breadcrumb">
        <li class="active">{{'link.clients' | translate}}</li>
    </ul>
    <div class="pull-right">
        <a  ng-show="PermissionService.showMenu('CREATE_CLIENT')" href="#/createclient" class="btn btn-primary"><i class="icon-plus icon-white"></i> Create Client</a>
          <a href="#/createclientnewwizard" class="btn btn-primary"
          		ng-show="PermissionService.showMenu('ACTIVATIONPROCESS_ACTIVATE')"><i class="icon-plus icon-white"></i> New Activation</a>
        <a ng-show="PermissionService.showMenu('ACTIVATIONPROCESS_ACTIVATE')" href="#/createsimpleActivation" class="btn btn-primary"><i class="icon-plus icon-white"></i>Simple Activation</a>
    </div>
</div>
<div class="row-fluid" ng-show="PermissionService.showMenu('READ_CLIENT')">
<form ng-submit="search(filterText)">
    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by Account#/Name/Phone/email/Identity/Device#">

</form>
	<table class="table">
        <thead>
            <tr class="graybg">
                <th>Name</th>
                <th>Status</th>
                <th>Account #</th>
                <th>Office</th>
                <th>Serial No</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer-main" ng-disabled ="client.status.value == 'Closed'" ng-repeat="client in clients.currentPageItems  | filter:filterText" >
                <td class="pointer" data-ng-click="routeTo(client.id)">{{client.displayName}}</td>
                 <td class="pointer" data-ng-click="routeTo(client.id)"><i class="icon-stop {{client.status.value | StatusLookup}}"></i>&nbsp;{{client.status.value}}</td>
                <td class="pointer" data-ng-click="routeTo(client.id)">{{client.accountNo}}</td>
                <td class="pointer" data-ng-click="routeTo(client.id)">{{client.officeName}}</td>
                <td class="pointer" data-ng-click="routeTo(client.id)">{{client.hwSerialNumber}}</td>
                <td class="pointer" data-ng-click="routeTo(client.id)">{{client.balanceAmount}}</td>
            </tr>
        </tbody>
    </table>
      <ul class="pager">
    	<li class="previous"><a  ng-click="clients.firstPage()" href="" ng-disabled="!clients.hasFirstPage()">First</a></li>
        <li class="previous"><a  id="prev" ng-click="clients.previous()" href="" ng-hide="!clients.hasPrevious()">&larr; Prev</a></li>
        <li class="next" ><a  ng-click="clients.lastPage()" href="" ng-disabled="!clients.hasLastPage()">Last</a></li>
        <li class="next" ><a  id="next"   ng-click="clients.next()" href="" ng-hide="!clients.hasNext()">Next &rarr;</a></li>
    </ul>
</div>
</div>
