<div>
    <ul class="breadcrumb">
        <li class="active">{{'link.clients' | translate}}</li>
    </ul>
    <div class="pull-right">
        <a href="#/createclient" class="btn btn-primary"><i class="icon-plus icon-white"></i> Create Client</a>
          <a href="#/createclientnewwizard" class="btn btn-primary"><i class="icon-plus icon-white"></i> New Activation</a>
    </div>
</div>
<div class="row-fluid" ng-controller="ClientController">
<form ng-submit="search(filterText)">
    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by Account#/Name/Phone/email/Identity/Device#">

</form>
	<table class="table">
        <thead>
            <tr class="graybg">
                <th>Name</th>
                <th>Status</th>
                <th>Account #</th>
                <th>Office</th>
                <th>Serial No</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer-main" ng-repeat="client in clients.currentPageItems  | filter:filterText" >
                <td class="pointer" data-ng-click="routeTo(client.id)">{{client.displayName}}</td>
                 <td class="pointer" data-ng-click="routeTo(client.id)"><i class="icon-stop {{client.status.value | StatusLookup}}"></i>&nbsp;{{client.status.value}}</td>
                <td class="pointer" data-ng-click="routeTo(client.id)">{{client.accountNo}}</td>
                <td class="pointer" data-ng-click="routeTo(client.id)">{{client.officeName}}</td>
                <td class="pointer" data-ng-click="routeTo(client.id)">{{client.hwSerialNumber}}</td>
                <td class="pointer" data-ng-click="routeTo(client.id)">{{client.balanceAmount}}</td>
            </tr>
        </tbody>
    </table>
    <ul class="pager">
        <li class="previous"><a  id="prev" ng-click="clients.previous()" href="" ng-disabled="!clients.hasPrevious()">&larr; Prev</a></li>
        <li class="next" ><a  id="next"   ng-click="clients.next()" href="" ng-disabled="!clients.hasNext()">Next &rarr;</a></li>
    </ul>
</div>
