      <form name="createclientform" novalidate="" class="form-horizontal well" ng-controller="CreateActivationController" ng-submit="submit4()">
       
        <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	</div>
     
        <fieldset>
          <legend>New Activation</legend>
        <table>
         <tr>
            <td>
         <strong>Client Info</strong>
         </td><td></td>
         </tr>
           <tr>
             <td>
          
            	<div class="control-group">
             		 <label class="control-label">{{'label.office' | translate}}<span class="required">*</span></label>
              		<div class="controls">
                		<select ng-model="formData1.officeId"  ng-options="office.id as office.name for office in offices" value="{{office.id}}" ng-change="changeOffice(formData.officeId)"></select>
              		</div>
           		 </div>
            </td>
            <td>
            	<div class="control-group">
             	 	<label class="control-label">{{'label.clientcategeory' | translate}}<span class="required">*</span></label>
              		<div class="controls">
               		 <select ng-model="formData1.clientCategory"  ng-options="clientCategoryData.id as clientCategoryData.categoryType for clientCategoryData in clientCategoryDatas" value="{{clientCategoryDatas.id}}"></select>
              		</div>
           		 </div>
           	</td>
           	</tr>
           	<tr>
           	<td>
  		      	<div class="control-group">

              		<label class="control-label" for="firstname">{{'lable.fullname' | translate}}<span class="required">*</span></label>

              		<div class="controls">
                		<input type="text" id="firstname" name="firstname" ng-model="formData1.middlename" ng-pattern="/^[a-zA-Z0-9\s]+$/" required ng-minlength=3 late-Validate/>
                		<span  ng-show="createclientform.firstname.$invalid">
                			<small class="error" ng-show="createclientform.firstname.$error.pattern">alphanumeric and spaces only!</small>
                   			 <small class="error" ng-show="createclientform.firstname.$error.req">
                       			 Required Field
                    		</small>
                    		<small class="error" ng-show="createclientform.firstname.$error.minlength && !createclientform.firstname.$error.req">Name is required at least 3 characters</small>
                		</span>
              		</div>
           		 </div>
           	</td>
           	<td>
           		 <div class="control-group">
              		<label class="control-label" for="city">{{'label.city' | translate}}<span class="required">*</span></label>
              		<div class="controls">
             			 <!--   <input type="text" id="city" name="city" ng-model="formData.city" list ="citylist" ng-change="getStateAndCountry(formData.city)" required /> -->
               			 <select ng-model="formData1.city"  ng-options="citi for citi in  cities" ng-change="getStateAndCountry(formData1.city)" value="{{billRuleData.id}}"></select>
               
              		</div>
            	</div>
            </td>
            </tr>
            <tr>
            <td>
           		 <div class="control-group">
             		 <label class="control-label" for="phone">{{'label.activation.phone' | translate}}<span class="required">*</span></label>
              		<div class="controls">
               			 <input type="text" id="phone" ng-model="formData1.phone" ng-pattern="/^(?!0+$)\d{1,19}$/"  ng-maxlength="10" name="phone" required  late-Validate/>
               			 <span ng-show="createclientform.phone.$invalid">
                		   <small class="error" ng-show="createclientform.phone.$error.req">
                      		  Required Field
                  		 </small>
                		</span>
                
           				<div ng-show="createclientform.phone.$dirty && createclientform.phone.$invalid">
             
               			<span class="error" ng-show="createclientform.phone.$error.pattern">digits only !</span>
              			 <span class="error" ng-show="createclientform.phone.$error.maxlength">Exceeded max limit!</span>
           				</div>
              		</div>
            	</div>
            </td>
            <td>
            	<div class="control-group">
             		 <label class="control-label" for="email">{{'label.email' | translate}}</label>
             		<div class="controls">
               		 <input type="text" id="email" ng-model="formData1.email"/>
              		</div>
           		 </div>
           	</td>
           </tr>
            <tr>
            <td>
         <strong>Device Info({{config}})</strong>
         </td><td></td>
         </tr>
           	<tr>
           	<td>
          		  <div class="control-group">
           	<label class="control-label" for="itemId">{{ 'label.itemCode' | translate }}<span class="required">*</span></label>
            	<div class="controls">
             	<select ng-show="config =='SALE'" ng-model="formData2.itemId" name="itemcode" ng-change="itemData(formData2.itemId)" ng-options="itemData.id as itemData.itemCode for itemData in itemDatas" value="{{itemData.id}}">
             	</select>
             	<select ng-show="config =='OWN'" ng-model="formData5.itemType"  ng-options="itemtypes.id as itemtypes.itemDescription for itemtypes in itemtypes" value="{{itemtypes.id}}" required late-Validate></select>
              </div>
           </div>
          	</td>
          	<td>
          		<div class="control-group"  ng-repeat="item in getNumber(formData2.quantity)" name="serialNumberDiv">
                    <label class="control-label" for="serialNumber">{{ 'label.serialNumber' | translate }}&nbsp;<span class="required">*</span></label>
                    <div class="controls">
             	    <input type="text" ng-show="config == 'SALE'" ng-model="formData2.itemDetail" name="serialNumber" ng-change="getData(formData2.itemDetail)" typeahead="itemDetail as itemDetail for itemDetail in itemDetails | limitTo:8" typeahead-min-length="0">
             	     <input type="text" ng-show="config == 'OWN'" name="provisioningserialnumber" ng-model="formData5.provisioningSerialNumber" required late-Validate>
                    </div>
               </div>
             </td>
             </tr>
              <tr>
            <td>
         <strong>Plan Info</strong>
         </td><td></td>
         </tr>
             <tr>
             <td>
             	<div class="control-group">
             		 <label class="control-label" for="startDate">{{ 'label.order.startdate' | translate }}</label>
              		 <div class="controls">
                		<input type="text" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened" min="minDate" max="maxDate" 
                 		   date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
             		</div>
           		</div>
           	</td>
           	<td>
           		<div class="control-group" >
                   <label class="control-label" for="paytermCode">{{ 'label.activation.plan' | translate }}</label>
                     <div class="controls">
                        <select ng-model="formData4.planId"  ng-options="plandata.id as plandata.planCode for plandata in plandatas" ng-change='setBillingFrequency(formData4.planId)' value="{{plandata.id}}"></select>
                    </div>
                 </div>	
             </td>
             </tr>
             <tr>
             <td>
           		<div class="control-group">
               		<label class="control-label" for="contractPeriod">{{ 'label.order.contractperiod' | translate }}</label>
                	 <div class="controls">
                    	<select   ng-disabled="formData4.isPrepaid == 'Y'" ng-model="formData4.contractPeriod"  ng-options="subscriptiondata.id as subscriptiondata.Contractdata for subscriptiondata in subscriptiondatas" value="{{billRuleData.id}}"></select>
                 	</div>
             	</div>
             </td>
             <td>
             	<div class="control-group" ng-hide="formData4.isPrepaid == 'Y'">
                   <label class="control-label" for="paytermCode">{{ 'label.order.billingfrequency' | translate }}</label>
                     <div class="controls">
                        <select ng-model="formData4.paytermCode"  ng-options="paytermdata.paytermtype as paytermdata.paytermtype for paytermdata in paytermdatas" value="{{billRuleData.id}}"></select>
                    </div>
                 </div>
              </td>
              </tr>
              <tr>
            <td>
         <strong>Payment Info</strong>
         </td><td></td>
         </tr>
           	<tr>
           	<td>
          		  <div class="control-group">
             		 <label class="control-label" for="amountPaid">{{'label.activation.amount' | translate}}<span class="required">*</span></label>
             		<div class="controls">
               		 <input type="text" id="amountPaid" ng-model="formData6.amountPaid"/>
              		</div>
              		</div>
          	</td>
          	<td>
          		<div class="control-group">
             		 <label class="control-label" for="receiptNo">{{'label.activation.recieptno' | translate}}<span class="required">*</span></label>
             		<div class="controls">
               		 <input type="text" id="receiptNo" ng-model="formData6.receiptNo"/>
              		</div>
              		</div>
             </td>
             </tr>
              <tr>
              <td>
             	  <div class="control-group" ng-hide="configurationProperty==false">
             		 <label class="control-label">Login<span class="required">*</span></label>
              		<div class="controls">
               			 <input type="text" id="login" name="login" ng-model="formData1.login"/>
              		</div>
            	</div>
            </td>
           <td>
            	<div class="control-group" ng-hide="configurationProperty==false">
              		<label class="control-label">Password<span class="required">*</span></label>
             		 <div class="controls">
               			 <input type="password"  ng-model="formData1.password"/>
              		</div>
            	</div>
           	</td>
             </tr>
             <tr>
             <td>
            	 <div class="control-group">
              		<label class="control-label" for="file">{{'label.client.select.image' | translate}}</label>
              		<div class="controls">
               			 <input type="file" ng-file-select="onFileSelect($files)">
              		</div>
            	</div>
           	</td>
           	
           	  <td>
            	<datalist id="citylist">
                   <option  data-ng-repeat="city in cities" value="{{city}}">
             	</datalist>
             </td>
           </tr>
           </table> 
            <div class="pull-right">
              <a href="#/clients"><button id="cancel" type="reset" class="btn">Cancel</button></a>
              <!-- <button id="submit" type="submit"  ng-dblclick="dbClick()" ng-disabled="(!createclientform.$valid)||(flag)" class="btn btn-primary">Save</button> -->
              <button id="submit" type="submit"  class="btn btn-primary">Save</button>
            </div>
        </fieldset>
      </form>