      <form name="editclientform" novalidate="" class="form-horizontal" ng-controller="EditClientController" ng-submit="submit()">
        <div><ul class="breadcrumb">
  <img ng-hide="imagePresent" src="../app/images/blank_avatar.jpg" alt="Avatar" width="40">
     <img ng-show="imagePresent" src="{{image}}" alt="Avatar" width="40">
     <li>
          <h3>
            &nbsp;
            {{displayName}}
            &nbsp;
            <i class="icon-circle {{statusActive | StatusLookup}}"></i>
            &nbsp;
          </h3>
        </li>
        <li><span class="divider">|</span>
          <i class="icon-barcode"></i>
          <small>Uniquely identified {{accountNo}}&nbsp;</small>
        </li>
        <li><span class="divider">|</span>
          <i class="icon-building"></i>
          <small>Office "{{officeName}}" </small>
        </li>
         <li><span class="divider">|</span>
          <i></i>
          <small>Balance {{balanceAmount}} &nbsp;{{currency}}</small>
        </li>
 </ul>
          <ul class="breadcrumb">
            <li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
            <li><a href='#/viewclient/{{clientId}}'>{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
              <li class="active">{{'label.editclient' | translate}}</li>
          </ul>
        </div>
         <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	</div>
	 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
          <legend>{{'label.editclient' | translate}}</legend>
          <table width="100%">
            <tr>
              <td>
              <div class="control-group">
                <label class="control-label">{{ 'label.office' | translate }}<span class="required">*</span></label>
                <div class="controls">
                  <select ng-model="officeId"  ng-options="office.id as office.name for office in offices" value="{{office.id}}">
                </select>
                </div>
              </div>
              </td>
            </tr>
            
             <tr>
              <td>
              <div class="control-group">
                <label class="control-label">{{'label.clientcategeory' | translate}}<span class="required">*</span></label>
                <div class="controls">
                  <select ng-model="clientCategory"  ng-options="clientCategoryData.id as clientCategoryData.categoryType for clientCategoryData in clientCategoryDatas" value="{{clientCategoryData.id}}">
                </select>
                </div>
              </div>
              </td>
            </tr>
            
            <tr>
              <td>
                <div class="control-group">
                  <label class="control-label">{{ 'label.firstname' | translate }}<span class="required">*</span></label>
                  <div class="controls">
                    <input type="text" name="firstname" ng-model="formData.firstname" ng-pattern="/^[a-zA-Z0-9\s]+$/" required ng-minlength=3 late-Validate/>
                    <span  ng-show="editclientform.firstname.$invalid">
                      <small class="error" ng-show="editclientform.firstname.$error.pattern">alphanumeric and spaces only!</small>
                      <small class="error" ng-show="editclientform.firstname.$error.req">
                          Required Field
                      </small>
                      <small class="error" ng-show="editclientform.firstname.$error.minlength && !editclientform.firstname.$error.req">Your name is required to be at least 3 characters</small>
                    </span>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">{{ 'label.middlename' | translate }}</label>
                  <div class="controls">
                    <input type="text" ng-model="formData.middlename">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">{{ 'label.lastname' | translate }}<span class="required">*</span></label>
                  <div class="controls">
                    <input type="text" name="lastname" ng-model="formData.lastname" ng-pattern="/^[a-zA-Z0-9\s]+$/" required ng-minlength=3 late-Validate/>
                    <span  ng-show="editclientform.lastname.$invalid">
                      <small class="error" ng-show="editclientform.lastname.$error.pattern">alphanumeric and spaces only!</small>
                      <small class="error" ng-show="editclientform.lastname.$error.req">
                          Required Field
                      </small>
                      <small class="error" ng-show="editclientform.lastname.$error.minlength && !editclientform.lastname.$error.req">Your name is required to be at least 3 characters</small>
                    </span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="control-label">{{ 'label.externalid' | translate }}</label>
                  <div class="controls">
                    <input type="text" ng-model="formData.externalId">
                  </div>
                </div>
              </td>
            </tr>
                <tr>
              <td>
                <div class="control-group">
                  <label class="control-label">{{ 'label.phone' | translate }}</label>
                  <div class="controls">
                    <input type="text" ng-model="formData.phone">
                  </div>
                </div>
              </td>
            </tr>
             <tr>
              <td>
                <div class="control-group">
                  <label class="control-label">{{ 'label.homephone' | translate }}</label>
                  <div class="controls">
                    <input type="text" ng-model="formData.homePhoneNumber">
                  </div>
                </div>
              </td>
            </tr>
              <tr>
              <td>
                <div class="control-group">
                  <label class="control-label">{{'label.email' | translate }}</label>
                  <div class="controls">
                    <input type="text" ng-model="formData.email">
                  </div>
                </div>
              </td>
            </tr>
          <tr>
            <td>
              <div class="control-group">
                <label class="control-label">{{'label.client.select.image' | translate}}</label>
                <div class="controls">
                  <input type="file" ng-file-select="onFileSelect($files)">
                </div>
              </div>
            </td>
          </tr>
        </table>
          <div class="offset3">
            <a id="cancel" href='#/viewclient/{{clientId}}'><button type="reset" class="btn">Cancel</button></a>
            <button id="submit" type="submit" class="btn btn-primary">Save</button>
          </div>
          
        </fieldset>
      </form>
