<div ng-controller="ViewTicketController"> 
<div><ul class="breadcrumb">
  <img ng-hide="imagePresent" src="../app/images/blank_avatar.jpg" alt="Avatar" width="40">
     <img ng-show="imagePresent" src="{{image}}" alt="Avatar" width="40">
     <li>
          <h3>
            &nbsp;
            {{displayName}}
            &nbsp;
            <i class="icon-circle {{statusActive | StatusLookup}}"></i>
            &nbsp;
          </h3>
        </li>
        <li><span class="divider">|</span>
          <i class="icon-barcode"></i>
          <small>Uniquely identified {{accountNo}}&nbsp;</small>
        </li>
        <li><span class="divider">|</span>
          <i class="icon-building"></i>
          <small>Office "{{officeName}}" </small>
        </li>
         <li><span class="divider">|</span>
          <i></i>
          <small>Balance {{balanceAmount}} &nbsp;{{currency}}</small>
        </li>
 </ul>
		<ul class="breadcrumb">
			<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/viewclient/{{clientId}}">{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
			  <li class="active">{{'label.viewticket' | translate}}</li>
		</ul>
	</div>
    <div class="paddedbottom10">
		
	    <div class="pull-right">
	      <div class="btn-group">
	          <a href="#/editTicket/{{clientId}}/{{ticket.id}}" ng-show="ticket.status == 'OPEN'" class="btn btn-primary"><i class="icon-edit icon-white"></i> FollowUp</a>	        
	          <a href="#/closeTicket/{{clientId}}/{{ticket.id}}" ng-show="ticket.status == 'OPEN'" class="btn btn-primary"><i class="icon-trash icon-white"></i> Close</a>
	      </div>
	    </div>
	</div>

	<div class="row paddedleft">
					<h3>{{'label.viewticket' | translate}}</h3>	
                        <table  width="100%" >                     
                             <tr>
                              <td>{{ 'label.ticket.id' | translate}}</td>
                              <td>{{ticket.id}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.ticket.priority' | translate}}</td>
                              <td>{{ticket.priority}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.ticket.ticketdate' | translate }}</td>
                              <td>{{ticket.ticketDate | DateFormat}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.ticket.problemcode' | translate}}</td>
                              <td>{{ticket.problemDescription}}</td>
                            </tr>
                             <tr>
                              <td>{{ 'label.ticket.status' | translate }}</td>
                              <td>{{ticket.status}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.ticket.assignto' | translate }}</td>
                              <td>{{ticket.userName}}</td>
                            </tr>                          
                            <tr>
                              <td>{{ 'label.ticket.lastcomment' | translate }}</td>
                              <td>{{ticket.lastComment}}</td>
                            </tr>                                                                                                 
                          </table>
                      </div>                    
                                     
    
    <div class="row paddedleft">
    <h3>{{'label.tickethistory' | translate}}</h3>	
     <table class="table">
         <thead>
            <tr>
		        <th>{{'label.tickethistory.createddate' | translate}}</th>
		        <th>{{'label.tickethistory.assignto' | translate}}</th>
		        <th>{{ 'label.tickethistory.attachments' | translate }}</th>
		        <th>{{'label.tickethistory.comments' | translate}}</th>
		        <th>{{ 'label.tickethistory.problemdescription' | translate }}</th>
	      </tr>
	      
        </thead>
        <tbody>
            <tr ng-repeat="history in historyData  | filter:filterText">    
                <td>{{history.createdDate | DateFormat}}</td>  
                <td>{{history.assignedTo}}</td>
                <td>{{history.attachedFile}}</td>
                <td>{{history.statusDescription}}</td>
                <td>{{history.problemDescription}}</td>             
            </tr>
        </tbody>
        </table>
    </div>
</div>