<div ng-controller="ViewOwnHardwareController"> 
<div><ul class="breadcrumb">
        <table>
        <tr>
        <td>
        	 <img ng-hide="imagePresent" src="../app/images/blank_avatar.jpg" alt="Avatar" width="40">
          <img ng-show="imagePresent" src="{{image}}" alt="Avatar" width="40">
        </td>
        <td>
            <small style="color:black;">{{displayName}}</small>
            &nbsp;
            <i class="icon-circle {{statusActive | StatusLookup}}"></i>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Uniquely identified  {{accountNo}}</small></td>
        	</tr>
        	<tr>
        		<td><i class="icon-building"></i><small>Office "{{officeName}}"</small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Cell Phone {{phone}}</small></td>
        	</tr>
        	<tr>
        		<td><small>Device # <strong>{{hwSerialNumber}}</strong></small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Client Type "{{categoryType}}"</small></td>
        	</tr>
        	<tr>
        		<td><small>Balance&nbsp;{{balanceAmount}}&nbsp;{{currency}} </small></td>
        	</tr>
        </table>
        </td>
        </tr>
        </table>
 </ul>
		<ul class="breadcrumb">
			<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/viewclient/{{clientId}}">{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'link.view.ownhardware' | translate}}</li>
		</ul>
	</div>
     
       <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	</div>
    <div class="paddedbottom10">
	    <div class="pull-right">
	      <div class="btn-group">
	          <a ng-show="PermissionService.showMenu('UPDATE_OWNEDHARDWARE')" href="#/editownhardware/{{id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</a>	        
	          <a ng-show="PermissionService.showMenu('DELETE_OWNEDHARDWARE')" ng-click="deletemessage()" class="btn btn-primary"><i class="icon-trash icon-white"></i> Delete</a>
	      </div>
	    </div>
	</div>

	<div class="row paddedleft">
					<h3>{{discounting.discountMasterId}}</h3>	
                        <table  width="100%" >                     
                             <tr>
				<td width="20%">{{ 'label.form.allocationdate' | translate }}</td>
				<td width="80%">{{ownhardwaredatas.allocationDate|DateFormat}}</td>
			</tr>
			<tr>
				<td>{{ 'label.serialNumber' | translate }}</td>
				<td>{{ownhardwaredatas.serialNumber}}</td>
			</tr>
			<tr>
				<td>{{ 'lable.provisioningserialnumber' | translate }}</td>
				<td>{{ownhardwaredatas.provisioningSerialNumber}}</td>
			</tr>
			<tr>
				<td>{{ 'label.itemtype' | translate }}</td>
				<td>{{ownhardwaredatas.itemType}}</td>
			</tr>
			<tr>
				<td>{{ 'label.status' | translate }}</td>
				<td>{{ownhardwaredatas.status}}</td>
			</tr>                                                                                                 
                          </table>
                      </div>                    
                                     
    </div>