<div ng-controller="AssignedTicketController">
 
    <div>
      	<ul class="breadcrumb">
       	 
        	<li><b style="color:black">TICKETS</b> <span class="divider"></span></li>
        
    	</ul>
  	  
     <tabset  style="margin-bottom: 0px;">
     
      	  <div class="pull-right" style = "margin-top : 10px;">
       			<div class="control-group">
            		<h4>[ {{openTickets.totalFilteredRecords}} ]</h4>
            	</div>
          </div>
          
      <tab heading="Open" select="getOpenTickets()">
        
        <div class="row-fluid">
        
        	<form ng-submit="searchTickets()">
    			<input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by clientName">
			</form>
			
			<table class="table">
        	<thead>
            	<tr class="graybg">
               		<th>{{'label.corporate'|translate}}</th>
               		<th>{{'lable.ticket#'|translate}}</th>
                	<th>{{'label.ticket.date'|translate}}</th>
                	<th>{{'label.ticket.priority'|translate}}</th>
                	<th>{{'label.ticket.category'|translate}}</th>
                	<th>{{'label.createdBy'|translate}}</th>
                	<th>{{'label.assignedto'|translate}}</th>
                	<th>{{'label.closedby'|translate}}</th>
                	<th>{{'label.ticket.status'|translate}}</th>
                	<th>{{'label.timelapsed'|translate}}</th>
            	</tr>	
        	</thead>
        	<tbody>
            	<tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
               		<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
               		<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
                 	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
                 	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
                	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
            	</tr>
        	</tbody> 
   			</table>
    		<ul class="pager">
        			<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
			</ul>
       			
         </div>
      </tab>
      
         <tab heading="Working" select="getWorkingTickets()">
      
        <div class="row-fluid">
        
        	<form ng-submit="searchTickets()">
    			<input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by clientName">
			</form>
			<table class="table">
        	<thead>
            	<tr class="graybg">
               		<th>{{'label.corporate'|translate}}</th>
               		<th>{{'lable.ticket#'|translate}}</th>
                	<th>{{'label.ticket.date'|translate}}</th>
                	<th>{{'label.ticket.priority'|translate}}</th>
                	<th>{{'label.ticket.category'|translate}}</th>
                	<th>{{'label.createdBy'|translate}}</th>
                	<th>{{'label.assignedto'|translate}}</th>
                	<th>{{'label.closedby'|translate}}</th>
                	<th>{{'label.ticket.status'|translate}}</th>
                	<th>{{'label.timelapsed'|translate}}</th>
            	</tr>	
        	</thead>
        	<tbody>
            	<tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
               		<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
               		<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
                 	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
                 	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
                	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
            	</tr>
        	</tbody> 
   			</table>
    		<ul class="pager">
        			<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
			</ul>
       			
         </div>
      </tab>
      
      <tab heading="Assigned" select="getAssignedTickets()">
      
        <div class="row-fluid">
        
        	<form ng-submit="searchTickets()">
    			<input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by clientName">
			</form>
			<table class="table">
        	<thead>
            	<tr class="graybg">
               		<th>{{'label.corporate'|translate}}</th>
               		<th>{{'lable.ticket#'|translate}}</th>
                	<th>{{'label.ticket.date'|translate}}</th>
                	<th>{{'label.ticket.priority'|translate}}</th>
                	<th>{{'label.ticket.category'|translate}}</th>
                	<th>{{'label.createdBy'|translate}}</th>
                	<th>{{'label.assignedto'|translate}}</th>
                	<th>{{'label.closedby'|translate}}</th>
                	<th>{{'label.ticket.status'|translate}}</th>
                	<th>{{'label.timelapsed'|translate}}</th>
            	</tr>	
        	</thead>
        	<tbody>
            	<tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
               		<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
               		<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
                 	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
                 	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
                	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
            	</tr>
        	</tbody> 
   			</table>
    		<ul class="pager">
        			<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
			</ul>
       			
         </div>
      </tab>
      
       <tab heading="Overdue" select="getOverDueTickets()">
      
        <div class="row-fluid">
        
        	<form ng-submit="searchTickets()">
    			<input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by clientName">
			</form>
			<table class="table">
        	<thead>
            	<tr class="graybg">
               		<th>{{'label.corporate'|translate}}</th>
               		<th>{{'lable.ticket#'|translate}}</th>
                	<th>{{'label.ticket.date'|translate}}</th>
                	<th>{{'label.ticket.priority'|translate}}</th>
                	<th>{{'label.ticket.category'|translate}}</th>
                	<th>{{'label.createdBy'|translate}}</th>
                	<th>{{'label.assignedto'|translate}}</th>
                	<th>{{'label.closedby'|translate}}</th>
                	<th>{{'label.ticket.status'|translate}}</th>
                	<th>{{'label.timelapsed'|translate}}</th>
            	</tr>	
        	</thead>
        	<tbody>
            	<tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
               		<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
               		<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
                 	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
                 	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
                	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
            	</tr>
        	</tbody> 
   			</table>
    		<ul class="pager">
        			<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
			</ul>
       			
         </div>
      </tab>
      
      <tab heading="Closed" select="getclosedTickets()">
      
        <div class="row-fluid">
        
        	<form ng-submit="searchTickets()">
    			<input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by clientName">
			</form>
			<table class="table">
        	<thead>
            	<tr class="graybg">
               		<th>{{'label.corporate'|translate}}</th>
               		<th>{{'lable.ticket#'|translate}}</th>
                	<th>{{'label.ticket.date'|translate}}</th>
                	<th>{{'label.ticket.priority'|translate}}</th>
                	<th>{{'label.ticket.category'|translate}}</th>
                	<th>{{'label.createdBy'|translate}}</th>
                	<th>{{'label.assignedto'|translate}}</th>
                	<th>{{'label.closedby'|translate}}</th>
                	<th>{{'label.ticket.status'|translate}}</th>
                	<th>{{'label.timelapsed'|translate}}</th>
            	</tr>	
        	</thead>
        	<tbody>
            	<tr class="pointer-main" ng-repeat="ticket in openTickets.currentPageItems  | filter:filterText">      
               		<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.clientName}}</td> 
               		<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.id}}</td> 
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.ticketDate | DateFormat}}</td> 
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.priority}}</td>
                 	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.problemDescription}}</td>
                 	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.createUser}}</td>       
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.userName}}</td>
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.closedByuser}}</td>
                	<td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.status}}</td>
                    <td class="pointer" data-ng-click="routeToticket(ticket.clientId)">{{ticket.timeElapsed}}</td>     
            	</tr>
        	</tbody> 
   			</table>
    		<ul class="pager">
        			<li class="previous"><a ng-click="openTickets.previous()" href="" ng-disabled="!openTickets.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="openTickets.next()" href="" ng-disabled="!openTickets.hasNext()">Next &rarr;</a></li>
			</ul>
       			
         </div>
      </tab>
      
    </tabset>
    </div>

  </div>
  


