<div ng-controller="ChargeCodeController">
<div>
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.chargecode' | translate}}</li>
    </ul>

    <div class="pull-right">
        <a ng-show="PermissionService.showMenu('CREATE_CHARGECODE')" href="#/createchargecode" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{'label.create.new.chargecode' | translate}}</a>
    </div>
</div>
<div class="row-fluid">
    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
	<table class="table">
        <thead>
            <tr class="graybg">
              
                <th>{{ 'table.heading.chargecode' | translate }}</th>
                <th>{{ 'table.heading.chargedes' | translate }}</th>
                <th>{{ 'table.heading.chargetype' | translate }}</th>
                <th>{{ 'table.heading.chargeduration' | translate }}</th>
                <th>{{ 'table.heading.duratintype' | translate }}</th>
                <th>{{ 'table.heading.taxinclusive' | translate }}</th>
                <th>{{ 'table.heading.billfrequencycode' | translate }}</th>
                               
            </tr>
        </thead>
        <tbody>
            <tr class="pointer-main" ng-repeat="chargecode in chargecodes | filter:filterText">
                        
                <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.chargeCode}}</td>        
                <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.chargeDescription}}</td>        
                <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.chargeType}}</td>
                <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.chargeDuration}}</td> 
                <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.durationType}}</td> 
                <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.taxInclusive}}</td> 
                <td class="pointer" data-ng-click="routeTo(chargecode.id)">{{chargecode.billFrequencyCode}}</td> 
                             
            </tr>
        </tbody>
    </table>
</div>
</div>