      <div>
        <ul class="breadcrumb">
          <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/discounts">{{'label.managediscounts' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.creatediscount' | translate}}</li>
        </ul>
      </div>
      <form class="form-horizontal well" ng-controller="CreateDiscountsController" ng-submit="submit()">
       <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
          <legend>Create Discount</legend>
			<table>
			<tr>
				<td>
					<table>
						<tr>
							<td>
								<div class="control-group">
           					 	<label class="control-label" for="discountCode">{{ 'label.discountCode' | translate }}</label>
            					<div class="controls">
             					 <input type="text" id="discountCode" ng-model="formData.discountCode">
           						</div>
         						</div>	
							</td>
							<td>
								<div class="control-group">
            					<label class="control-label" for="discountType">{{ 'label.discountType' | translate }}</label>
            					<div class="controls">
             					 <select ng-model="formData.discountType"  ng-options="discounTypeData.mCodeValue as discounTypeData.mCodeValue for discounTypeData in discountTypeDatas" value="{{discounTypeData.mCodeValue}}">
             					 </select>
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="discountDescription">{{ 'label.discountDescription' | translate }}</label>
            					<div class="controls">
              					<input type="text" id="discountDescription" ng-model="formData.discountDescription">
           						 </div>
          						</div>
							</td>
							<td>
								<div class="control-group">
            					<label class="control-label" for="discountRate">{{ 'label.discountRate' | translate }}</label>
            					<div class="controls">
              					<input type="text" id="discountRate" ng-model="formData.discountRate">
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group">
                        		<label class="control-label">{{ 'label.startDate' | translate }}</label>
                        		<div class="controls">
                            	<input type="text" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened2" min="minDate" 
                            	max="'2020-06-22'" date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;"  readonly/>
                        		</div>
          						</div>
							</td>
							<td>
								<div class="control-group">
            					<label class="control-label" for="status">{{ 'label.status' | translate }}</label>
            					<div class="controls">
             					 <select ng-model="formData.status"  ng-options="status.value as status.value for status in statuses" value="{{status.value}}">
             					 </select>
            					</div>
          						</div>
								</td>
							</tr>
							
					</table>
			
				</td>
			</tr>
			</table>
  			
          <div class="offset3">
            <a href="#/discounts"><button id="cancel" type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
            <button id="submit" type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
          </div>
          
        </fieldset>
      </form>
