
<div ng-controller="editRegionController">
	<ul class="breadcrumb">
	<li><a href="#/regions">{{'label.regions' | translate}}</a>
				<span class="divider">/</span></li>
		<li><a href="#/viewregions/{{formData.id}}">{{formData.regionCode}}</a> <span
			class="divider">/</span></li>
		<li class="active">{{'label.editRegion' | translate}}</li>
	</ul>

<form class="form-horizontal well" 
	ng-submit="submit()">
	 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
		<legend><!-- {{'label.editEvent' | translate}} -->Edit Region</legend>
		<table width="100%">
			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="regionCode"><!-- {{
							'label.event.eventcode' | translate }} -->Region Code</label>
						<div class="controls">
							<input type="text" id="regionCode" ng-model="formData.regionCode">
						</div>
					</div>
				</td>
				
			</tr>

			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="regionName"><!-- {{
							'label.event.eventdescription' | translate }} -->Region Name</label>
						<div class="controls">
							<input type="text" id="regionName"
								ng-model="formData.regionName">
						</div>
					</div>
				</td>
				
			</tr>

			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="countryId"><!-- {{
							'label.event.chargeData' | translate }} -->Country</label>
						<div class="controls">
							<!-- <select ng-model="formData.countryId"
								ng-options="chargeData.chargeCode as chargeData.chargeDescription for chargeData in chargeData"
								value="{{chargeData.chargeCode}}"></select> -->
								<select ng-model="formData.countryId" ng-change="countryDetails(formData.countryId)"
								ng-options="country.id as country.countryName for country in countrydata" value="{{country.id}}">
                                   <!-- <option ng-repeat="country in countrydata" value="{{country.id}}">{{country.countryName}}</option>  -->                            
                               </select>
						</div>
					</div>
				</td>
				<td>
				    <div class="control-group">
                        <label class="control-label" for="All">All</label>
					    <div class="controls">
					              <label class="checkbox">
					                <input type="checkbox" ng-model="checked">
					              </label>
			            </div>
                    </div>
				</td>
				
			</tr>
			</table>
			
			<table>
			<tr>
				<td>

					<div class="control-group">
                        <label class="control-label"></label>
						<div class="span3">
							<label class="control-label"><!-- {{ 'label.availablemedia'
								| translate }} -->Available States</label> <select multiple ng-model="allowed" ng-disabled="checked">
								<option ng-repeat="availableService in availableServices"
									value="{{availableService.id}}">{{availableService.stateName}}</option>
							</select>
						</div>
						<div class="paddedtop10 span1 paddedleft0">
							<button type="button" class="btn btn-primary" ng-disabled="checked"
								data-ng-click="restrict()">
								<i class="icon-double-angle-right"></i>
							</button>
							<br />
							<button type="button" class="btn btn-primary" ng-disabled="checked"
								data-ng-click="allow()">
								<i class="icon-double-angle-left"></i>
							</button>
						</div>
						<div class="span3">
							<label class="control-label"><!-- {{ 'label.selectedservice' |
								translate }} -->Selected States</label> <select multiple ng-model="restricted" ng-disabled="checked">
								<option ng-repeat="selectedService in selectedServices"
									value="{{selectedService.id}}">{{selectedService.stateName}}</option>
							</select>
						</div>

					</div>
				</td>
			</tr>
		</table>
		
		
		<div class="offset3">
			<a href="#/viewregions/{{formData.id}}"><button type="reset" class="btn">Cancel</button></a>
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</fieldset>
</form>
</div>