<div ng-controller="EditCurrencyDetailsController">	
	<div>
        <ul class="breadcrumb">
          <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/currencydetails">{{'label.currencydetails' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/viewcurrencydetails/{{formData.id}}">{{formData.id}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.editcurrencydetails' | translate}}</li>
        </ul>
      </div>
      
      <form class="form-horizontal well" ng-submit="submit()">
       <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
			<table>
			<tr>
				<td>
					<table>
						<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="country">{{ 'label.country' | translate }}</label>
            					<div class="controls">
             					 <select ng-model="formData.country"  ng-options="countryData as countryData for countryData in countryDatas" value="{{countryData}}">
             					 </select>
            					</div>
          						</div>
							</td>
							<td>
								<div class="control-group">
            					<label class="control-label" for="currency">{{ 'label.currency' | translate }}</label>
            					<div class="controls">
             					 <select ng-model="formData.currency"  ng-options="currencydata.code as currencydata.displayLabel for currencydata in currencydatas" value="{{currencydata.code}}">
             					 </select>
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="status">{{ 'label.status' | translate }}</label>
            					<div class="controls">
             					 <select ng-model="formData.status"  ng-options="currencystatus.value as currencystatus.value for currencystatus in currencystatus" value="{{currencystatus.value}}">
             					 </select>
            					</div>
          						</div>
							</td>
						</tr>
											
					</table>
			
				</td>
			</tr>
			</table>
  			
          <div class="offset3">
            <a href="#/currencydetails"><button type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
          </div>
          
        </fieldset>
      </form>
 </div>