      <div>
        <ul class="breadcrumb">
              <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
              <li><a href="#/plans">{{'link.admin.plans' | translate}}</a> <span class="divider">/</span></li>
              <li class="active">{{'label.editplan' | translate}}</li>
          </ul>
      </div>
      <form class="form-horizontal well" ng-controller="EditPlanController" ng-submit="submit()">
       <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
          <legend>{{'label.editplan' | translate}}</legend>
          <table width="100%">
           <tr>
                  <td width="50%">
          <div class="control-group">
            <label class="control-label" for="planCode">{{ 'label.plan.plancode' | translate }}</label>
            <div class="controls">
              <input type="text" id="planCode" ng-model="formData.planCode">
            </div>
          </div>
          
            <td width="50%">
          <div class="control-group">
            <label class="control-label" for="status">{{ 'label.plan.status' | translate }}</label>
            <div class="controls">
              <select ng-model="formData.status"  ng-options="planStatus.id as planStatus.value for planStatus in planStatus" value="{{planStatus.id}}"></select>
            </div>
          </div>
          </td>
          </tr>
           <tr>
            <td width="50%">
          <div class="control-group">
            <label class="control-label" for="planDescription">{{ 'label.plan.plandescription' | translate }}</label>
            <div class="controls">
              <input type="text" id="planDescription" ng-model="formData.planDescription">
            </div>
          </div>
          </td>
          
                  <td width="50%">
          <div class="control-group">
            <label class="control-label" for="billRule">{{ 'label.plan.billingrule' | translate }}</label>
            <div class="controls">
              <select ng-model="formData.billRule"  ng-options="billRuleData.id as billRuleData.billruleOptions for billRuleData in billRuleDatas" value="{{billRuleData.id}}"></select>
            </div>
          </div>
          </td>
          </tr>
          <tr>
            <td width="50%">
          <div class="control-group">
            <label class="control-label" for="startDate">{{ 'label.plan.startdate' | translate }}</label>
            <div class="controls">
             
                <!-- <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="formData.startDate" is-open="opened" min="minDate" max="maxDate" date-disabled="disabled(date, mode)" required late-Validate /> -->
                 <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.startDate" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)"/>
            </div>
          </div>
          </td>
               <td width="50%">
          <div class="control-group">
            <label class="control-label" for="provisioingSystem">{{ 'label.plan.provisioningsystem' | translate }}</label>
            <div class="controls">
            <select ng-model="formData.provisionSystem" ng-options="provisionSysData.provisioingSystem as provisionSysData.provisioingSystem for provisionSysData in provisionSysDatas" value="{{provisionSysData.provisioingSystem}}"></select>
            </div>
          </div>
          </td>
            </tr>
            <tr><td>
             <div class="control-group">
            <label class="control-label" for="endDate">{{ 'label.plan.enddate' | translate }}</label>
            <div class="controls">
            <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="end.endDate" is-open="opened" min="minDate" max="maxDate" date-disabled="disabled(date, mode)" />
            </div>
          </div>
          </td></tr>
            </table>
            <table><tr>
               <td width="50%">
           <div class="control-group">
                 <div><label class="control-label"></label></div>
                <div class="span3">
                    <label class="control-label">{{ 'label.availableservice' | translate }}</label>
                    <select multiple ng-model="allowed">
                        <option ng-repeat="service in services" value="{{service.id}}">{{service.serviceDescription}}</option>
                    </select>
                </div>
                <div class="paddedtop10 span1 paddedleft0">
                    <button type="button" class="btn btn-primary" data-ng-click="restrict()"><i class="icon-double-angle-right"></i></button><br/>
                    <button type="button" class="btn btn-primary" data-ng-click="allow()"><i class="icon-double-angle-left"></i></button>
                </div>
                <div class="span3">
                    <label class="control-label">{{ 'label.selectedservice' | translate }}</label>
                    <select multiple ng-model="restricted">
                        <option ng-repeat="selectedService in selectedServices" value="{{selectedService.id}}">{{selectedService.serviceCode}}</option>
                    </select>
                </div>
           
        </div>
        
             </td>
         
          </tr>
          </table>
           <table>
          <tr>
           <td width="50">
            <div class="control-group">
            <label class="control-label" for="isPrepaid">{{ 'label.plan.ishwreq' | translate }}</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" ng-model="formData.isHwReq">
              </label>
            </div>
            </div>
              <div class="control-group">
            <label class="control-label" for="isPrepaid">{{ 'label.plan.isprepaid' | translate }}</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" ng-model="formData.isPrepaid">
              </label>
            </div>
          </div>
          <div ng-show="formData.isPrepaid">
            <div class="control-group">
              <label class="control-label" for="duration">{{ 'label.plan.duration' | translate }}</label>
              <div class="controls">
                <select ng-model="formData.contractPeriod"  ng-options="subscriptiondata.Contractdata as subscriptiondata.Contractdata for subscriptiondata in subscriptiondata" value="{{subscriptiondata.Contractdata}}"></select>
              </div>
              
            </div>
            <div class="control-group">
              <label class="control-label" for="allowTopup">{{ 'label.plan.volume' | translate }}</label>
              <div class="controls">
                <input type="checkbox" ng-model="formData.allowTopup">
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="volume">{{ 'label.plan.units' | translate }}</label>
              <div class="controls">
                  <table>
                    <tr>
                      <td>
                 <select ng-model="formData.volume"  ng-options="volumeType.value as volumeType.value for volumeType in volumeTypes" value="{{volumeType.value}}"></select>
                 </td>
                 <td>
                <input type="text" class="input-small ng-pristine ng-valid" id="units" ng-model="formData.units">
                </td></tr></table>
              </div>
            </div>
          </div>
          </td>
           <td>
          </div>
          </td>
          </tr>
          </table>
          <div class="offset3">
            <a href="#/viewplan/{{formData.id}}"><button id="cancel" type="reset" class="btn">Cancel</button></a>
            <button id="submit" type="submit" class="btn btn-primary">Save</button>
          </div>
        </fieldset>
      </form>
