<div>

    <ul class="breadcrumb">
        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.media' | translate}}&nbsp;&nbsp;</li>
    </ul>
    <div class="pull-right">
        <a href="#/createMedia" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{ 'link.create.new.media' | translate }}</a>
    </div>
</div>
<div class="row-fluid" ng-controller="MediaController">
    <input ng-model="filterText" type="text" class="span marginbottom0px">
	<table class="table">
        <thead>
            <tr class="graybg">
                <th>{{ 'table.media.title' | translate }}</th>
                <th>{{ 'table.media.rating' | translate }}</th>
                <th>{{ 'table.media.releasedate' | translate }}</th>
                <th>{{ 'table.media.status' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer-main" ng-repeat="media in media | filter:filterText">
                <td class="pointer" data-ng-click="routeTo(media.mediaId)">{{media.mediaTitle}}</td>            
                <td class="pointer" data-ng-click="routeTo(media.mediaId)">{{media.mediaRating}}</td>        
                <td class="pointer" data-ng-click="routeTo(media.mediaId)">{{media.releaseDate | DateFormat}}</td>         
                <td class="pointer" data-ng-click="routeTo(media.mediaId)">{{media.status}}</td>
            </tr>
        </tbody>
    </table>
</div>