<div>
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.managemessage' | translate}}</li>
    </ul>
    <div class="pull-right">
        <a href="#/createMessage" class="btn btn-primary"><i class="icon-plus icon-white"></i> message</a>
    </div>
</div>

<div class="row-fluid" ng-controller="MessageController">
    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name/externalId">
	<table class="table">
         <thead>
            <tr>
				<th>Id</th>
		        <th>{{'label.message.templateDescription' | translate}}</th>
		        <th>{{'label.message.subject' | translate}}</th>
		        <th>{{ 'label.message.messageType' | translate }}</th>
		        <th>{{'label.message.header' | translate}}</th>
		        <th>{{ 'label.message.body' | translate }}</th>
		        <th>{{ 'label.message.footer' | translate }}</th>
		        <th>{{ 'label.message.Parameters' | translate }}</th>
	
	      </tr>
	      
        </thead>
        <tbody>
            <tr class="pointer-main" ng-repeat="messaging in message  | filter:filterText">
                <td class="pointer" data-ng-click="routeTo(messaging.id)">{{messaging.id}}</td>
                <td class="pointer" data-ng-click="routeTo(messaging.id)">{{messaging.templateDescription}}</td>  
                <td class="pointer" data-ng-click="routeTo(messaging.id)">{{messaging.subject}}</td>
                <td class="pointer" data-ng-click="routeTo(messaging.id)">{{messaging.messageType}}</td>
                <td class="pointer" data-ng-click="routeTo(messaging.id)">{{messaging.header}}</td>
                <td class="pointer" data-ng-click="routeTo(messaging.id)">{{messaging.body}}</td>  
                <td class="pointer" data-ng-click="routeTo(messaging.id)">{{messaging.footer}}</td>
                <td class="pointer" data-ng-click="routeTo(messaging.id)">{{messaging.messageParameters}}</td>
            </tr>
        </tbody>
    </table>
</div> 