<div>

    <ul class="breadcrumb">
        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.plans' | translate}}&nbsp;&nbsp;</li>
    </ul>
    <div class="pull-right">
        <a href="#/createPlan" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{ 'link.create.new.plan' | translate }}</a>
    </div>
</div>
<div class="row-fluid" ng-controller="PlanController">
   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by plan Code/plan Description/status">
	<table class="table">
        <thead>
            <tr class="graybg">
                <th>{{ 'table.plan.code' | translate }}</th>
                <th>{{ 'table.plan.description' | translate }}</th>
                <th>{{ 'table.plan.status' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="plan in plans | filter:filterText">
                <td><a href="#/viewplan/{{plan.id}}">{{plan.planCode}}</a></td>            
                <td>{{plan.planDescription}}</td>        
                <td>{{plan.planstatus.value}}</td>         
            </tr>
        </tbody>
    </table>
</div>