<div  ng-controller="PlanController" >
<div>

    <ul class="breadcrumb">
        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.plans' | translate}}&nbsp;&nbsp;</li>
    </ul>
    <div class="pull-right">
        <a ng-show="PermissionService.showMenu('CREATE_PLAN')" href="#/createPlan" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{ 'link.create.new.plan' | translate }}</a>
    </div>
</div>
<div class="row-fluid">
   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by plan Code/plan Description/status">
	<table class="table">
        <thead>
            <tr class="graybg">
                <th>{{ 'table.plan.code' | translate }}</th>
                <th>{{ 'table.plan.description' | translate }}</th>
                <th>{{ 'table.plan.status' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer-main" ng-repeat="plan in plans | filter:filterText">
                <td class="pointer" data-ng-click="routeTo(plan.id)">{{plan.planCode}}</td>            
                <td class="pointer" data-ng-click="routeTo(plan.id)">{{plan.planDescription}}</td>        
                <td class="pointer" data-ng-click="routeTo(plan.id)">{{plan.planstatus.value}}</td>         
            </tr>
        </tbody>
    </table>
</div>
</div>
