<div>
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.regions' | translate}}&nbsp;&nbsp;{{employee.lastname}}</li>
    </ul>
    <div class="pull-right">
        <a href="#/createregions" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{ 'link.create.new.region' | translate }}</a>
    </div>
</div>

<div class="row-fluid" ng-controller="RegionController">
    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
	<table class="table">
        <thead>
            <tr class="graybg">
                <th>{{ 'table.heading.id' | translate }}</th>
                <th>{{ 'table.heading.regionCode' | translate }}</th>
                <th>{{ 'table.heading.regionName' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="region in regions | filter:filterText">
                       
                <td><a href="#/viewregions/{{region.id}}">{{region.id}}</a></td>        
                <td><a href="#/viewregions/{{region.id}}">{{region.regionCode}}</a></td>  
                <td>{{region.regionName}}</td>                    
            </tr>
        </tbody>
    </table>
</div>