<div ng-controller="ServicesController">
<div>
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.manageservices' | translate}}</li>
    </ul>
    <div class="pull-right">
        <a ng-show="PermissionService.showMenu('CREATE_SERVICE')" href="#/createservice" class="btn btn-primary"><i class="icon-plus icon-white"></i> Create Service</a>
    </div>
</div>
<div class="row-fluid">
    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by serviceCode">
	<table class="table">
        <thead>
            <tr class="graybg">
               
                <th>Service code</th>
                <th>Service Description</th>
                <th>Service type</th>
                <th>Status</th>
                <th>IsOptional</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer-main" ng-repeat="service in services  | filter:filterText">      
              
                 <td class="pointer" data-ng-click="routeTo(service.id)">{{service.serviceCode}}</td>            
                <td class="pointer" data-ng-click="routeTo(service.id)">{{service.serviceDescription}}</td>
                <td class="pointer" data-ng-click="routeTo(service.id)">{{service.serviceType}}</td>
                   <td class="pointer" data-ng-click="routeTo(service.id)">{{service.serviceStatus}}</td>
                      <td class="pointer" data-ng-click="routeTo(service.id)">{{service.isOptional}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>