<div ng-controller="TaxMappingController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/viewchargecode/{{chargeId}}">{{taxmappings[0].chargeCode}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.taxmapping' | translate}}</li>
    </ul>

<div class="row-fluid">
    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
	<table class="table">
        <thead>
            <tr class="graybg">
                <th>{{ 'table.heading.chargecode' | translate }}</th>
                <th>{{ 'table.heading.taxCode' | translate }}</th>
                <th>{{ 'table.heading.startDate' | translate }}</th>
                <th>{{ 'table.heading.type' | translate }}</th>
                <th>{{ 'table.heading.rate' | translate }}</th>
                <th>{{ 'table.heading.TaxRegion' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="taxmapping in taxmappings | filter:filterText">
                <td><a href="#/viewtaxmapping/{{taxmapping.id}}">{{taxmapping.chargeCode}}</td>        
                <td>{{taxmapping.taxCode}}</td>        
                <td>{{taxmapping.startDate | DateFormat}}</td>
                <td>{{taxmapping.type}}</td> 
                <td>{{taxmapping.rate}}</td> 
                <td>{{taxmapping.TaxRegion}}</td> 
            </tr>
        </tbody>
    </table>
</div>
</div>