<div ng-controller="ViewPromotioncodeController"> 

    <div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/discounts" ng-click="changeToSameTab()">{{'label.managediscounts' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{'label.viewPromotioncode' | translate}}</li>
	    </ul>
	    <div class="pull-right">
	      <div class="btn-group">
	          <a href="#/editpromotioncode/{{promotiondata.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> {{'button.edit' | translate}}</a>	        
	          <a ng-click="deletePromotion()" class="btn btn-primary"><i class="icon-trash icon-white"></i> {{'button.delete' | translate}}</a>
	      </div>
	    </div>
	</div>

	<div class="row paddedleft">
					<h3>{{promotiondata.id}}</h3>	
                        <table  width="100%" >                     
                             <tr>
				<td width="20%">{{ 'label.promotionCode' | translate }}</td>
				<td width="80%">{{promotiondata.promotionCode}}</td>
			</tr>
			<tr>
				<td>{{ 'label.promotionDescription' | translate }}</td>
				<td>{{promotiondata.promotionDescription}}</td>
			</tr>
			<tr>
				<td>{{ 'label.durationType' | translate }}</td>
				<td>{{promotiondata.durationType}}</td>
			</tr>
			<tr>
				<td>{{ 'label.duration' | translate }}</td>
				<td>{{promotiondata.duration}}</td>
			</tr>
			<tr>
				<td>{{ 'label.discountType' | translate }}</td>
				<td>{{promotiondata.discountType}}</td>
			</tr>
			<tr>
				<td>{{ 'label.discountRate' | translate }}</td>
				<td>{{promotiondata.discountRate}}</td>
			</tr>                                                                                                 
                          </table>
                      </div>                    
                                     
    </div>