<div ng-controller="ViewMessageController"> 

    <div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/message">{{'label.managemessage' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{'label.viewmessage' | translate}}</li>
	    </ul>
	    <div class="pull-right">
	      <div class="btn-group">
	          <a href="#/editmessage/{{messaging.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</a>	        
	          <a ng-click="deletemessage()" class="btn btn-primary"><i class="icon-trash icon-white"></i> Delete</a>
	      </div>
	    </div>
	</div>

	<div class="row paddedleft">
					<h3>Message</h3>	
                        <table  width="100%" >                     
                             <tr>
                              <td>{{'label.message.id' | translate}}</td>
                              <td>{{messaging.id}}</td>
                            </tr>
                            <tr>
                              <td>{{'label.message.templateDescription' | translate}}</td>
                              <td>{{messaging.templateDescription}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.message.subject' | translate }}</td>
                              <td>{{messaging.subject}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.message.messageType' | translate }}</td>
                              <td>{{messaging.messageType}}</td>
                            </tr>
                             <tr>
                              <td>{{'label.message.header' | translate}}</td>
                              <td>{{messaging.header}}</td>
                            </tr>
                            <tr>
                              <td>{{ 'label.message.body' | translate }}</td>
                              <td>{{messaging.body}}</td>
                            </tr>                          
                            <tr>
                              <td>{{ 'label.message.footer' | translate }}</td>
                              <td>{{messaging.footer}}</td>
                            </tr>                                                                                                 
                          </table>
                      </div>                    
                                     
    </div>
