<div ng-controller="ViewEventPricesController">

	<div class="paddedbottom10">
		<ul class="breadcrumb">
			<li><a href="#/event">{{'label.event' |
					translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/viewEvent/{{eventId}}">{{'label.viewevent' | translate}}</a>
				<span class="divider">/</span></li>
			<li class="active">{{'label.viewprice' | translate}}</li>
		</ul>
	</div>

	<div class="row paddedleft">
		<h3>{{'label.viewprice' | translate}}</h3>
		<table class="table">
         <thead>
           <tr class="graybg">
				<th>{{'label.event.id' | translate }}</th>
		        <th>{{'label.event.eventname' | translate }}</th>
		        <th>{{'label.eventprice.formattype' | translate }}</th>
		        <th>{{'label.eventprice.opttype' | translate }}</th>
		        <th>{{'label.eventprice.clienttype' | translate }}</th>
		        <th>{{'label.eventprice.discount' | translate }}</th>
		        <th>{{'label.eventprice.price' | translate }}</th>		       
	
	      </tr>
	      
        </thead>
        <tbody>
           
            <tr class="pointer-main" ng-repeat="pricedata in pricing | filter:filterText">
			    <td class="pointer" data-ng-click="routeTo(pricedata.id)">{{pricedata.id}}</td>
				<td class="pointer" data-ng-click="routeTo(pricedata.id)">{{pricedata.eventName}}</td>
				<td class="pointer" data-ng-click="routeTo(pricedata.id)">{{pricedata.formatType}}</td>				
				<td class="pointer" data-ng-click="routeTo(pricedata.id)">{{pricedata.optType}}</td>
				<td class="pointer" data-ng-click="routeTo(pricedata.id)">{{pricedata.clientType}}</td>
				<td class="pointer" data-ng-click="routeTo(pricedata.id)">{{pricedata.discount}}</td>				
				<td class="pointer" data-ng-click="routeTo(pricedata.id)">{{pricedata.price}}</td>
			</tr>
            
            
        </tbody>
    </table>
	</div>

</div>





