<div ng-controller="ViewContractController">
	<div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/contract">{{'label.manage.contracts' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{contractperiod.subscription_period}}</li>
	    </ul>
	    <div class="pull-right">
	      <div class="btn-group">
	          <a href="#/editcontract/{{contractperiod.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</a>
	         <a ng-click="deletecontract()" class="btn btn-primary"><i class="icon-trash icon-white"></i> Delete</a>
	      </div>
	    </div>
	</div>
	<div class="row paddedleft">
		<h3>{{contractperiod.name}}</h3>
		<table width="100%">
			<tr>
				<td width="20%">{{ 'label.contract.contractperiod' | translate }}</td>
				<td width="70%">{{contractperiod.subscription_period}}</td>
			</tr>
			<tr>
				<td>{{ 'label.contract.contractype' | translate }}</td>
				<td>{{contractperiod.subscription_type}}</td>
			</tr>
			<tr>
				<td>{{ 'label.contract.units' | translate }}</td>
				<td>{{contractperiod.units}}</td>
			</tr>
			
		</table>
	</div>
</div>
          