 <div ng-controller="CreateMrnController">
   <div>
        <ul class="breadcrumb">
          <li><a href="#/inventory" ng-click="selectedMRN()">{{'link.inventory' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.create.new.mrn' | translate}}</li>
        </ul>
   </div>
      <form name="createcMRNForm" novalidate="" class="form-horizontal well" rc-submit="submit()">
       <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
          <legend>Create Mrn</legend>

			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td>
								<div class="control-group">
	            						<label class="control-label" for="requestedDate">{{'label.mrn.requestdate' | translate }}&nbsp;<span class="required">*</span></label>
            						<div class="controls">
              							<input type="text" datepicker-pop="dd MMMM yyyy" ng-model="first.date" is-open="opened" min="minDate" max="maxDate" 
              							date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
            						</div>
          						</div>
								</td>
								
								<td>
								<div class="control-group">
	            						<label class="control-label" for="itemDescription">{{'label.mrn.item' | translate }}&nbsp;<span class="required">*</span></label>
									<div class="controls">
										<select ng-model="formData.itemDescription"
											ng-options="itemMasterData.itemId as itemMasterData.itemDescription for itemMasterData in itemMasterDatas"
											value="{{itemMasterData.itemId}}">
										</select>
									</div>
								</div>
								</td>
							</tr>
							<tr>
								<td>
								<div class="control-group">
	            						<label class="control-label" for="fromOffice">{{'label.mrn.fromoffice' | translate }}&nbsp;<span class="required">*</span></label>
									<div class="controls">
										<select ng-model="formData.fromOffice"
											ng-options="officeData.id as officeData.nameDecorated for officeData in officeDatas"
											value="{{officeData.id}}">
										</select>
									</div>
								</div>
								</td>
								
								<td>
									<div class="control-group">
										<label class="control-label" for="orderdQuantity">{{'label.mrn.orderedquantity' | translate }}&nbsp;<span class="required">*</span></label>
										<div class="controls">
											<input type="text" name="orderdQuantity" ng-model="formData.orderdQuantity">
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
								<div class="control-group">
	            						<label class="control-label" for="toOffice">{{'label.mrn.tooffice' | translate }}&nbsp;<span class="required">*</span></label>
									<div class="controls">
										<select ng-model="formData.toOffice"
											ng-options="officeData.id as officeData.nameDecorated for officeData in officeDatas"
											value="{{officeData.id}}">
										</select>
									</div>
								</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			
          <div class="offset3">
            <a href="#/inventory"><button id="cancel" type="reset" class="btn" ng-click="reset123()">{{'button.cancel' | translate}}</button></a>
            <button id="save" type="submit" class="btn btn-primary">{{'label.save' | translate}}</button>
          </div>
          
        </fieldset>
      </form>
 </div>