<div ng-controller="InventoryController">
 
    <div>
      <tabset  style="margin-bottom: 0px;">
      
      	 <tab heading="Item Details" select="getItemdetails()" ng-show="$parent.PermissionService.showMenu('READ_INVENTORY')">
        <div class="pull-right btn-group">
          <a ng-show="PermissionService.showMenu('CREATE_INVENTORY')" href="#/createitemdetails/{{itemdetails.id}}" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.add' | translate }}</a>
        </div>
       
        <div class="row-fluid">
        <form ng-submit="searchItemDetails(filterText)">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Search by Device#">
        </form>
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.itemdetails.officeName' | translate}}</th>
                <th>{{'table.itemdetails.itemDescription' | translate}}</th>
                <th>{{'table.itemdetails.serialNumber' | translate}}</th>
                <th>{{'table.itemdetails.provserialNumber' | translate}}</th>
                <th>{{'table.itemdetails.grnId' | translate}}</th>
                <th>{{'table.itemdetails.supplier' | translate}}</th>
                <th>{{'table.itemdetails.quality' | translate}}</th>
                <th>{{'table.itemdetails.status' | translate}}</th>
                 <th>{{'table.itemdetails.allocated' | translate}}</th>
		         <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr class="pointer-main" ng-repeat="itemdetail in itemdetails.currentPageItems  | filter:filterText">
                <td class="pointer" data-ng-click="routeTo(itemdetail.clientId)">{{itemdetail.officeName}}</td>
                <td class="pointer" data-ng-click="routeTo(itemdetail.clientId)">{{itemdetail.itemDescription}}</td>
                <td class="pointer" data-ng-click="routeTo(itemdetail.clientId)">{{itemdetail.serialNumber}}</td>
                 <td class="pointer" data-ng-click="routeTo(itemdetail.clientId)">{{itemdetail.provisioningSerialNumber}}</td>
                <td class="pointer" data-ng-click="routeTo(itemdetail.clientId)" style="text-align: center">{{itemdetail.grnId}}</td>
                <td class="pointer" data-ng-click="routeTo(itemdetail.clientId)">{{itemdetail.supplier}}</td>
                <td class="pointer" data-ng-click="routeTo(itemdetail.clientId)">{{itemdetail.quality}}</td>
                <td class="pointer" data-ng-click="routeTo(itemdetail.clientId)">{{itemdetail.status}}</td>
                <td class="pointer" data-ng-click="routeTo(itemdetail.clientId)" ng-show="itemdetail.clientId">{{itemdetail.accountNumber}}</td>
                <td class="pointer" data-ng-click="routeTo(itemdetail.clientId)" ng-show="!itemdetail.clientId">Unallocated</td>
           <td ng-show="(itemdetail.clientId)&&PermissionService.showMenu('UPDATE_INVENTORY')"><a ng-click="editProvSerial(itemdetail.id,itemdetail.quality)"><i class="icon-edit icon-white" ></i>edit Provisioning</a></td>
		  <td ng-show="(!itemdetail.clientId)&&PermissionService.showMenu('UPDATE_INVENTORY')"><a ng-click="editQuality(itemdetail.id,itemdetail.quality)"><i class="icon-edit icon-white" ></i>edit</a></td>
                <!-- <td>
                	<span ng-if="itemdetails.clientId > '0'">
                	Yes
					</span>
					<span ng-if="itemdetails.clientId <= '0'">
                	No
					</span>
                </td> -->
     		 </tbody>
          </table>
       			<ul class="pager">
        			<li class="previous"><a ng-click="itemdetails.previous()" href="" ng-disabled="!itemdetails.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="itemdetails.next()" href="" ng-disabled="!itemdetails.hasNext()">Next &rarr;</a></li>
    			</ul>
         </div>
      </tab>
      
      <tab heading="GRN" select="getGRNdetails()" active="grnTab" ng-show="$parent.PermissionService.showMenu('READ_GRN')">
      
        <div class="pull-right btn-group">
          <a ng-show="PermissionService.showMenu('CREATE_GRN')" href="#/addgrndetails" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.add' | translate }}</a>
        </div>
       
        <div class="row-fluid">
        <form ng-submit="searchGRN(filterText)">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Search by Device#">
       </form>
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.grn.id' | translate}}</th>
                <th style="text-align:center">{{'table.grn.officeName' | translate}}</th>
                <th>{{'table.grn.purchaseDate' | translate}}</th>
                <th style="text-align:center">{{'table.grn.supplierName' | translate}}</th>
                <th>{{'table.grn.itemDescription' | translate}}</th>
                <th style="text-align:center">{{'table.grn.orderedQuantity' | translate}}</th>
                <th style="text-align:center">{{'table.grn.receivedQuantity' | translate}}</th>
                <th style="text-align:center">{{'table.grn.balanceQuantity' | translate}}</th>
                <th style="text-align:center">{{'table.grn.status' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="pointer-main" ng-repeat="g in grn.currentPageItems | filter:filterText">
                <td class="pointer" data-ng-click="routeTogrn(g.id)">{{g.id}}</td>
                <td class="pointer" data-ng-click="routeTogrn(g.id)" style="text-align:center">{{g.officeName}}</td>
                <td class="pointer" data-ng-click="routeTogrn(g.id)">{{g.purchaseDate | DateFormat}}</td>
                <td class="pointer" data-ng-click="routeTogrn(g.id)" style="text-align:center">{{g.supplierName}}</td>
                <td class="pointer" data-ng-click="routeTogrn(g.id)">{{g.itemDescription}}</td>
                <td class="pointer" data-ng-click="routeTogrn(g.id)" style="text-align: center">{{g.orderdQuantity}}</td>
                <td class="pointer" data-ng-click="routeTogrn(g.id)" style="text-align: center">{{g.receivedQuantity}}</td>
                <td class="pointer" data-ng-click="routeTogrn(g.id)" style="text-align: center">{{g.balanceQuantity}}</td>
                <td class="pointer" data-ng-click="routeTogrn(g.id)" style="text-align: center" ng-show="g.orderdQuantity != g.receivedQuantity">Pending</td>
                <td class="pointer" data-ng-click="routeTogrn(g.id)" style="text-align: center" ng-show="g.orderdQuantity == g.receivedQuantity">Completed</td>
           
     		 </tbody>
          </table>
       			<ul class="pager">
        			<li class="previous"><a ng-click="grn.previous()" href="" ng-disabled="!grn.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="grn.next()" href="" ng-disabled="!grn.hasNext()">Next &rarr;</a></li>
    			</ul>
         </div>
      </tab>
          
      
      <tab heading="MRN" select="getMRNdetails()" active="mrnTab"
      ng-show="$parent.PermissionService.showMenu('READ_MRN','MOVE_MRN')">
        <div class="pull-right btn-group">
          <a ng-show="PermissionService.showMenu('CREATE_MRN')" href="#/createmrn" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.add' | translate }}</a>
          <a ng-show="PermissionService.showMenu('MOVE_MRN')" href="#/movemrn" class="btn btn-primary"><i class="icon-move icon-white"></i>{{ 'button.mrn.move' | translate }}</a>
        </div>
       
        <div class="row-fluid" ng-show="PermissionService.showMenu('READ_MRN')">
        <form ng-submit="searchMRN(filterText)">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Search by Device#">
        </form>
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.mrn.id' | translate}}</th>
                <th>{{'table.mrn.requestedDate' | translate}}</th>
                <th>{{'table.mrn.itemDescription' | translate}}</th>
                <th>{{'table.mrn.fromOffice' | translate}}</th>
                <th>{{'table.mrn.toOffice' | translate}}</th>
                <th style="text-align:center">{{'label.mrn.orderedquantity' | translate}}</th>
                <th style="text-align:center">{{'table.mrn.receivedQuantity' | translate}}</th>
                <th>{{'table.mrn.status' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="pointer-main" ng-repeat="m in mrn.currentPageItems  | filter:filterText">
                <td class="pointer" data-ng-click="routeTomrn(m.id)">{{m.id}}</td>
                <td class="pointer" data-ng-click="routeTomrn(m.id)">{{m.requestedDate | DateFormat}}</td>
                <td class="pointer" data-ng-click="routeTomrn(m.id)">{{m.itemDescription}}</td>
                <td class="pointer" data-ng-click="routeTomrn(m.id)">{{m.fromOffice}}</td>
                <td class="pointer" data-ng-click="routeTomrn(m.id)">{{m.toOffice}}</td>
                <td class="pointer" data-ng-click="routeTomrn(m.id)" style="text-align:center">{{m.orderdQuantity}}</td>
                <td class="pointer" data-ng-click="routeTomrn(m.id)" style="text-align:center">{{m.receivedQuantity}}</td>
                <td class="pointer" data-ng-click="routeTomrn(m.id)">{{m.status}}</td>
                
            
     		 </tbody>
          </table>
       			<ul class="pager">
        			<li class="previous"><a ng-click="mrn.previous()" href="" ng-disabled="!mrn.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="mrn.next()" href="" ng-disabled="!mrn.hasNext()">Next &rarr;</a></li>
    			</ul>
         </div>
      </tab>
      
      
       <tab heading="{{'tab.item' | translate}}" select="getItems()" active="itemsTab" ng-show="$parent.PermissionService.showMenu('READ_ITEM')">
 
              <div class="row-fluid">
                      <div class="btn-group pull-right"> 
                      <div class="pull-right">
        				<a ng-show="PermissionService.showMenu('CREATE_ITEM')" href="#/createitem" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{'label.create.new.item' | translate}}</a>

                        <!-- <span ng-repeat="button in buttons">
                        <a  href="{{button.href}}/{{client.id}}/{{button.subhref}}" ng-click="clientActionButton('button.subhref')" class="btn btn-primary" ><i class="{{button.icon}} icon-white" ></i>{{button.name | translate}}</a>
                        </span> -->
                      </div>
                  </div>
                  <br/>
                  <div class="row-fluid">
                 <form ng-submit="searchItems(filterText)">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Search by Device#">
                   </form>
	               <table class="table">
					<thead>	
						<tr class="graybg">
                          <th>{{ 'label.item.id' | translate }}</th>
                          <th>{{ 'label.item.itemcode' | translate }}</th>
                          <th>{{ 'label.item.itemdescription' | translate }}</th>
                          <th>{{ 'label.item.units' | translate }}</th>
                          <th>{{ 'label.item.unitprice' | translate }}</th>
                          <th style="text-align:center">{{ 'label.item.warranty' | translate }}</th>
						</tr>
					</thead>
             	 <tbody>
             		 <tr class="pointer-main" ng-repeat="item in items.currentPageItems | filter:filterText">    
              	  		<td class="pointer" data-ng-click="routeToitem(item.id)">{{item.id}}</td>        
               			<td class="pointer" data-ng-click="routeToitem(item.id)">{{item.itemCode}}</td>        
                		<td class="pointer" data-ng-click="routeToitem(item.id)">{{item.itemDescription}}</td> 
                		<td class="pointer" data-ng-click="routeToitem(item.id)">{{item.units}}</td>
                		<td class="pointer" data-ng-click="routeToitem(item.id)">{{item.unitPrice}}</td> 
                		<td class="pointer" data-ng-click="routeToitem(item.id)" style="text-align:center">{{item.warranty}}</td> 
             		</tr>
            	</tbody>
       			</table>
       			<ul class="pager">
        			<li class="previous"><a ng-click="items.previous()" href="" ng-disabled="!items.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="items.next()" href="" ng-disabled="!items.hasNext()">Next &rarr;</a></li>
    			</ul>
    		</div>
          </div>
    </tab>
      
      
      <tab heading="Supplier" select="getsupplierdetails()" active="supplierTab"
      ng-show="$parent.PermissionService.showMenu('CREATE_SUPPLIER','READ_SUPPLIER')">
        <div class="pull-right btn-group">
          <a ng-show="PermissionService.showMenu('CREATE_SUPPLIER')" href="#/createsupplier" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.add' | translate }}</a>
        </div>
       
        <div class="row-fluid" ng-show="PermissionService.showMenu('READ_SUPPLIER')">
        <form ng-submit="searchSupplier(filterText)">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Search by Device#">
       </form>
        <table class="table">
            <thead>
              <tr class="graybg">
                <th style="text-align: center">{{'table.supplier.id' | translate}}</th>
                <th style="text-align: center">{{'table.supplier.supplierCode' | translate}}</th>
                <th style="text-align: center">{{'table.supplier.supplierDescription' | translate}}</th>
                <th style="text-align: center">{{'table.supplier.supplierAddress' | translate}}</th>
              </tr>
            </thead>
            <tbody>
             <tr ng-repeat="su in supplier.currentPageItems  | filter:filterText">
                <td style="text-align: center">{{su.id}}</td>
                <td style="text-align: center">{{su.supplierCode}}</td>
                <td style="text-align: center">{{su.supplierDescription}}</td>
                <td style="text-align: center">{{su.supplierAddress}}</td>
   			</tr>
     		 </tbody>
          </table>
          <ul class="pager">
        			<li class="previous"><a ng-click="supplier.previous()" href="" ng-disabled="!supplier.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="supplier.next()" href="" ng-disabled="!supplier.hasNext()">Next &rarr;</a></li>
    			</ul>
         </div>
      </tab>
      
       <tab heading="Item History" select="getitemhistorydetails()" ng-show="$parent.PermissionService.showMenu('READ_MRNDETAILS')">
        <div class="pull-right btn-group">
         
        </div>
       
        <div class="row-fluid">
        <form ng-submit="searchHistory(filterText)">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Search by Device#">
        </form>
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.itemhistory.id' | translate}}</th>
                <th>{{'table.itemhistory.mrnId' | translate}}</th>
                <th>{{'table.itemhistory.refType' | translate}}</th>
                <th>{{'table.itemhistory.itemDescription' | translate}}</th>
                <th>{{'table.itemhistory.serialNumber' | translate}}</th>
                <th>{{'table.itemhistory.transactionDate' | translate}}</th>
                <th>{{'table.itemhistory.movement' | translate}}</th>
                <th>{{'table.itemhistory.fromOffice' | translate}}</th>
                <th>{{'table.itemhistory.toOffice' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ih in itemhistory.currentPageItems  | filter:filterText">
                <td>{{ih.id}}</td>
                <td>{{ih.mrnId}}</td>
                <td>{{ih.refType}}</td>
                <td>{{ih.itemDescription}}</td>
                <td>{{ih.serialNumber}}</td>
                <td>{{ih.transactionDate | DateFormat}}</td>
                <td>{{ih.movement}}</td>
                <td>{{ih.fromOffice}}</td>
                <td>{{ih.toOffice}}</td>
                
            
     		 </tbody>
          </table>
       			<ul class="pager">
        			<li class="previous"><a ng-click="itemhistory.previous()" href="" ng-disabled="!itemhistory.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="itemhistory.next()" href="" ng-disabled="!itemhistory.hasNext()">Next &rarr;</a></li>
    			</ul>
         </div>
      </tab>
      			
      		


    </tabset>
    </div>
<script type="text/ng-template" id="EditQuality.html">
		
	<div class="modal-header silver">
        <h3 class="bolder">Edit Quality</h3>
    </div>
    <div class="modal-body" style="height:160px;">
       <fieldset>
       <div class="control-group">
			<label class="control-label" for="quality">{{'label.itemdetail.quality' | translate }}<span class="required">*</span></label>
			<div class="controls">
              <select ng-model="quality"  ng-options="q.mCodeValue as q.mCodeValue for q in qualityData" value="{{q.mCodeValue}}" required>
              </select>
            </div>
	   </div>
 <div class="control-group">
			<label class="control-label" for="quality">{{'label.itemdetail.provisionserialnum' | translate }}</label>
			<div class="controls">
             <input type="text" id="serialnum" ng-model="provserialnum">
            </div>
	   </div>
    </fieldset>
    </div>
     <div class="modal-footer">
        <button id="cancel" class="btn btn-warning" ng-click="cancelQuality()">{{'button.cancel' | translate}}</button>
     	<button id="submit" class="btn btn-primary" ng-click="approveQuality(quality,provserialnum)" ng-disabled="flagEditQuality">{{'label.confirm' | translate}}</button>
     </div>

</script>
<script type="text/ng-template" id="EditProvSerial.html">
		
	<div class="modal-header silver">
        <h3 class="bolder">Edit Provisioning SerialNumber</h3>
    </div>
    <div class="modal-body" style="height:160px;">
       <fieldset>
 <div class="control-group">
			<label class="control-label" for="quality">{{'label.itemdetail.provisionserialnum' | translate }}</label>
			<div class="controls">
             <input type="text" id="serialnum" ng-model="provserialnum">
            </div>
	   </div>
 
    </fieldset>
    </div>
     <div class="modal-footer">
        <button id="cancel" class="btn btn-warning" ng-click="cancelQuality()">{{'button.cancel' | translate}}</button>
     	<button id="submit" class="btn btn-primary" ng-click="approveQuality(quality,provserialnum)" ng-disabled="flagEditQuality">{{'label.confirm' | translate}}</button>
     </div>

</script>
  </div>

