 <div  ng-controller="CreatePlanMappingController" >
      <div>
        <ul class="breadcrumb">
          <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
         <li><a href="#/mappingconfig">{{'label.planMapping' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.create.new.planMapping' | translate}}</li>
        </ul>
      </div>
       <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
      <form class="form-horizontal well" ng-submit="submit()">
        <fieldset>
          <legend>Create Plan Mapping</legend>
          
           <div class="control-group">
            <label class="control-label" for="planCodes">{{'label.planCode' | translate }}</label>
            <div class="controls">

              <select ng-model="formData.planId"  ng-options="pc.id as pc.planCode for pc in planCodes"  value="{{pc.id}}">

              <option value="">{{'label.select.one' | translate}}</option>
              </select>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="planIdentification">{{'label.planIdentification' | translate }}</label>
            <div class="controls">
              <input type="text" id="planIdentification" ng-model="formData.planIdentification">           
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="status">{{'label.status' | translate }}</label>
            <div class="controls">
                <select ng-model="formData.status"  ng-options="statusData.value as statusData.value for statusData in statusDatas" value="{{statusData.value}}">
              <option value="">{{'label.select.one' | translate}}</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="image">{{'label.image' | translate }}</label>
            <div class="controls">
              <input type="text" id="image" ng-model="formData.image">
            </div>
          </div>
         
          <div class="offset3">
            <a href="#/mappingconfig"><button id="cancel" type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
            <button id="submit" type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
          </div>
          
        </fieldset>
      </form>
</div>