<div ng-controller="CurrencyConfigController">
<div>
        <ul class="breadcrumb">
          <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
         <li><a href="#/mappingconfig">{{'label.serviceMapping' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">Currency Configuration</li>
        </ul>
      </div>
    <div>
        <div >
            <br>
        	<input class="form-control input-xxlarge" 
             ng-model="selected" 
             placeholder="New Currency"
             type="text"
             typeahead="item as item.displayLabel for item in allCurrOptions | filter:$viewValue | limitTo:8" />&nbsp;&nbsp;<a ng-click='addCur()'><i class="icon-plus"></i></a>

         	<div ng-repeat="currency in selectedCurrOptions">
    			<input disabled="" class="form-control input-xxlarge" placeholder={{currency.displayLabel}}} type="text"/>&nbsp;&nbsp;<a ng-click='deleteCur(currency.code)'><i class="icon-remove"></i></a>
            </div>
            <div class="offset5">
                <button id="cancel" type="reset" ng-click="cancel()" class="btn">Cancel</button>
                <button id="submit" type="submit" ng-click="submit()" class="btn btn-primary">Save</button>
            </div>
        </div>  
    </div>
</div>