<div class="span gray-head" style="margin-left:0%;margin-top:5px;">
      <span style="margin-left: 10px;font-size:20px">
            <strong>For Dalpay</strong>
      </span>
</div>

<div class="form-horizontal">
    <div class="control-group">
        <hr/><br/>
         <table width="%100">
       	     <tr>
               <td  align="center">
       			 <a  class="btn btn-primary" target="_blank"
       			  href="https://secure.dalpay.is/cgi-bin/order2/processorder1.pl?mer_id=999148&pageid=1&item1_qty=1&item1_price=129.00&item1_desc=book&user1=12">
       			<i class="icon-ok-sign icon-white"></i> CheckOut</a>
               </td>  
              </tr>
         </table>
      </div>
 </div>