
<div ng-controller="EditJobParameters">
<div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
  	<div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/jobs">{{'label.manageschedulerjobs' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/viewschedulerjob/{{formData.jobId}}">{{formData.displayName}}</a> <span class="divider">/</span></li>
	        <li class="active">{{'label.editschedulerjobparameters' | translate}}</li>
	    </ul>
	</div>
  	<form class="form-horizontal" ng-submit="submit()">
	    <fieldset>
	       <div class="control-group">
                <label class="control-label">{{'label.job.reportname' | translate }}<span class="required">*</span></label>
                <div class="controls">
                  <select ng-model="jobparameters.batchName"  ng-options="reportData.batchName as reportData.batchName for reportData in reportDatas" value="{{office.id}}" >
                </select>
                </div>
              </div>
              
              <div class="control-group" ng-show="formData.displayName =='Invoice'">
            <label class="control-label" for="startDate">{{ 'label.job.processdate' | translate }}</label>
            <div class="controls">
                 <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.processDate" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)"/>
            </div>
           </div>
           
              <div class="control-group" ng-show="formData.displayName =='Generate Statment'">
            <label class="control-label" for="startDate">{{ 'label.job.duedate' | translate }}</label>
            <div class="controls">
                 <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.dueDate" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)"/>
            </div>
           </div>
           
            <div class="control-group" ng-show="formData.displayName =='Generate Statment'">
			<label class="control-label" for="promotionalMessage">{{'label.job.promotionalmessage' | translate}}</label>
			<div class="controls">
				<textarea rows="2" cols="2" ng-model="formData.promotionalMessage"></textarea>
			</div>
	     	</div>  

                 <div class="control-group" ng-show="formData.displayName =='Messanger'">
                <label class="control-label">{{ 'label.job.messagetemplate' | translate }}<span class="required">*</span></label>
                <div class="controls">
                  <select ng-model="jobparameters.messageTemplate"  ng-options="billingMessageData.templateDescription as billingMessageData.templateDescription for billingMessageData in billingMessageDatas" value="{{office.id}}">
                </select>
                </div>
              </div>

                <div class="control-group" ng-show="formData.displayName =='Auto Exipiry'">
            <label class="control-label" for="startDate">{{ 'label.job.exipirydate' | translate }}</label>
            <div class="controls">
                 <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.exipiryDate" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)"/>
            </div>
           </div>
           <div class="control-group" ng-show="formData.displayName =='Auto Exipiry'">
                <label class="control-label" for="isDynamic">{{ 'label.job.isautorenewal' | translate }}</label>
                   <div class="controls">
                      <label class="checkbox">
                          <input type="checkbox" ng-model="formData.isAutoRenewal">
                      </label>
                   </div>
           </div>
           <div class="control-group">
                <label class="control-label" for="isDynamic">{{ 'label.job.isDynamic' | translate }}</label>
                   <div class="controls">
                      <label class="checkbox">
                          <input type="checkbox" ng-model="formData.isDynamic">
                      </label>
                   </div>
           </div>
	      <div class="offset3">
	        <button type="reset" ng-click="cancel()" class="btn">{{'label.cancel' | translate}}</button></a>
	        <button type="submit" class="btn btn-primary">{{'label.save' | translate}}</button>
	      </div>
	    </fieldset>
  </form>
</div>
