    <div ng-controller="EditHardwarePlanMappingController" >
      <div>
        <ul class="breadcrumb">
          <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/mappingconfig">{{'label.serviceMapping' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/viewhardwareplanmapping/{{formData.id}}">{{formData.planCode}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.edithardwareplanmapping' | translate}}</li>
        </ul>
      </div>
      <form class="form-horizontal well" ng-submit="submit()">
       <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
          <legend>Edit HardwarePlanMapping</legend>
			
								<div class="control-group">
            					<label class="control-label" for="planCode">{{ 'label.plancode' | translate }}</label>
            					<div class="controls">
             					 <select ng-model="formData.planCode"  ng-options="planData.planCode as planData.planDescription for planData in planDatas" value="{{planData.planCode}}">
             					 </select>
            					</div>
          						</div>
          						
          						<div class="control-group">
            					<label class="control-label" for="itemCode">{{ 'label.itemCode' | translate }}</label>
            					<div class="controls">
             					 <select ng-model="formData.itemCode"  ng-options="itemData.itemCode as itemData.itemDescription for itemData in itemDatas" value="{{itemData.itemCode}}">
             					 </select>
            					</div>
          						</div>
							
  			
          <div class="offset3">
            <a href="#/admin/hardwareplan"><button type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
          </div>
          
        </fieldset>
      </form>
</div>