    <div ng-controller="EditServiceMappingController">
      <div>
        <ul class="breadcrumb">
          <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/mappingconfig">{{'label.serviceMapping' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.edithardwareplanmapping' | translate}}</li>
        </ul>
      </div>
      <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
   
      <form class="form-horizontal well" ng-submit="submit()">
        <fieldset>
          <legend>Edit Service Mapping</legend>   
          
          <div class="control-group">
            <label class="control-label" for="serviceCode">{{'label.serviceCode' | translate }}</label>
            <div class="controls">
              <select ng-model="formData.id"  ng-options="sc.id as sc.serviceCode for sc in serviceCodes" value="{{serviceCode.id}}">
              <option value="">{{'label.select.one' | translate}}</option>
              </select>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="serviceIdentification">{{'label.serviceIdentification' | translate }}</label>
            <div class="controls">
              <input type="text" id="serviceIdentification" ng-model="formData.serviceIdentification">
            </div>
          </div>
         
         <div class="control-group">
            <label class="control-label" for="status">{{'label.status' | translate }}</label>
            <div class="controls">
                <select ng-model="formData.status"  ng-options="sc.value as sc.value for sc in statusDatas" value="{{serviceCode.id}}">
              <option value="">{{'label.select.one' | translate}}</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="image">{{'label.image' | translate }}</label>
            <div class="controls">
              <input type="text" id="image" ng-model="formData.image">
            </div>
          </div>
          
          <div class="control-group" ng-show="'IPTV'| ConfigLookup">
            	<label class="control-label" for="category">{{'label.category' | translate }}</label>
            	<div class="controls">
                <select ng-model="formData.category"  ng-options="c.mCodeValue as c.mCodeValue for c in categories" value="{{c.id}}">
              	<option value="">{{'label.select.one' | translate}}</option>
              	</select>
            	</div>
           </div>
            	
           <div class="control-group" ng-show="'IPTV'| ConfigLookup">
            	<label class="control-label" for="subcategory">{{'label.subcategory' | translate }}</label>
            	<div class="controls">
                <select ng-model="formData.subCategory"  ng-options="sc.mCodeValue as sc.mCodeValue for sc in subCategories" value="{{sc.id}}">
              	<option value="">{{'label.select.one' | translate}}</option>
              	</select>
            	</div>
          
          </div>
         
          <div class="offset3">
            <a href="#/viewServiceMapping/{{serviceMappingId}}"><button id="cancel" type="reset" class="btn">{{'label.cancel' | translate}}</button></a>
            <button id="submit" type="submit" class="btn btn-primary">{{'label.save' | translate}}</button>
          </div>
        </fieldset>
      </form>
    </div>
