<div>
    <ul class="breadcrumb">
          <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.manageippooling' | translate}}</li>
    </ul>
</div>


<div ng-controller="IpPoolingController">

<div class="pull-left">
 <select ng-model="formData.source" ng-change="changeSource(formData.source)">
              <option value="all">All</option>
              <option value="I">Intermediate</option>
              <option value="F">Free</option>
              <option value="A">Allocated</option>
              <option value="B">Blocked</option>
          </select>
          </div>
<div class="pull-right">
        <a href="#/createippooling" class="btn btn-primary"><i class="icon-plus icon-white"></i> Create IpPooling</a>
        <a href="" ng-click="edit()" class="btn btn-primary"><i class="icon-edit icon-white"></i>Update Netmask</a>
        
</div>
 
   <!--  <div>
      <tabset  style="margin-bottom: 0px;">
      
      <tab heading="All" select="getIpPooling()">
        <div class="row-fluid"> --> 
         <div class="pull-right" style = "margin-top : 10px;">
       <div class="control-group">
            <!-- <label class="control-label" for="status">{{ 'label.paymentgateway.source' | translate }}</label> -->
            </div>
          </div>               
           <form ng-submit="searchIpPool(filterText)">
               <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
           </form>
         <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.ippooling.id' | translate}}</th>    
                <th>{{'table.ippooling.ipaddress' | translate}}</th>  
                <th>{{'table.ippooling.ippooldescription' | translate}}</th>
                <th>{{'table.ippooling.clientId' | translate}}</th>
                <th>{{'table.ippooling.clientname' | translate}}</th>
                <th>{{'table.ippooling.status' | translate}}</th>
                <th>{{'table.ippooling.notes' | translate}}</th>
                 <th>&nbsp;</th>           
              </tr>
            </thead>
            <tbody>
            <!--  -->
             <tr class="pointer-main" ng-repeat="ippoolingdata in ippoolingdatas.currentPageItems ">         

                <td class="pointer" data-ng-click="routeTo(ippoolingdata.clientId)">{{ippoolingdata.id}}</td>
                <td class="pointer" data-ng-click="routeTo(ippoolingdata.clientId)">{{ippoolingdata.ipAddress}}</td> 
                <td class="pointer" data-ng-click="routeTo(ippoolingdata.clientId)">{{ippoolingdata.ipPoolDescription}}</td>
                <td class="pointer" data-ng-click="routeTo(ippoolingdata.clientId)">{{ippoolingdata.clientId}}</td>
                <td class="pointer" data-ng-click="routeTo(ippoolingdata.clientId)">{{ippoolingdata.clientName}}</td>  
                <td class="pointer" data-ng-click="routeTo(ippoolingdata.clientId)">{{ippoolingdata.status}}</td>  
                <td class="pointer" data-ng-click="routeTo(ippoolingdata.clientId)">{{ippoolingdata.notes}}</td>                                     
              <td><a href="#/editippolling/{{ippoolingdata.id}}" ng-show="ippoolingdata.status =='Intermediate'" style='color:#000000' popover="Edit" popover-trigger="mouseenter" ><i class="icon-edit"></i></a></td>                                   
   			</tr>
     		 </tbody>
          </table>
          <ul class="pager">
              <li class="previous"><a  id="prev" ng-click="ippoolingdatas.previous()" href="" ng-disabled="!ippoolingdatas.hasPrevious()">&larr; Prev</a></li>
              <li class="next" ><a  id="next"   ng-click="ippoolingdatas.next()" href="" ng-disabled="!ippoolingdatas.hasNext()">Next &rarr;</a></li>
         </ul>
         </div>
      </tab>	
      
     <!--  <tab heading="Failed" select="getIpPoolStatusFail()">
        <div class="row-fluid">                
           <form ng-submit="searchFailedPaymentId(filterText)">
               <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
           </form>
         <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.ippooling.id' | translate}}</th>    
                <th>{{'table.ippooling.ipaddress' | translate}}</th>  
                <th>{{'table.ippooling.ippooldescription' | translate}}</th>
                <th>{{'table.ippooling.clientId' | translate}}</th>
                <th>{{'table.paymentgateway.status' | translate}}</th>
                <th>&nbsp;</th>          
              </tr>
            </thead>
            <tbody>
            
              <tr ng-repeat="ippoolingdata in ippoolingdatas.currentPageItems  | filter:filterText">
                
                <td>{{ippoolingdata.id}}</td>
                <td>{{ippoolingdata.ipAddress}}</td> 
                <td>{{ippoolingdata.ipPoolDescription}}</td>
                <td>{{ippoolingdata.clientId}}</td>
                <td>{{ippoolingdata.status}}</td>                                     

                <td><a ng-click="edit(paymentgatewaydata.id)" popover="Edit" popover-trigger="mouseenter"><i class="icon-edit icon-white"></i></a></td>       

   			</tr>
     		 </tbody>
          </table>
          <ul class="pager">
              <li class="previous"><a  id="prev" ng-click="ippoolingdatas.previous()" href="" ng-disabled="!ippoolingdatas.hasPrevious()">&larr; Prev</a></li>
              <li class="next" ><a  id="next"   ng-click="ippoolingdatas.next()" href="" ng-disabled="!ippoolingdatas.hasNext()">Next &rarr;</a></li>
         </ul>
         </div>
      </tab>	
      
      <tab heading="Success" select="getIpPoolStatusSuccess()">
       <div class="row-fluid">
           <form ng-submit="searchSuccessPaymentId(filterText)">
               <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
           </form>
       <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.ippooling.id' | translate}}</th>    
                <th>{{'table.ippooling.ipaddress' | translate}}</th>  
                <th>{{'table.ippooling.ippooldescription' | translate}}</th>
                <th>{{'table.ippooling.clientId' | translate}}</th>
                <th>{{'table.paymentgateway.status' | translate}}</th>
                <th>&nbsp;</th>          
              </tr>
            </thead>
            <tbody>
             <tr ng-repeat="ippoolingdata in ippoolingdatas.currentPageItems  | filter:filterText">
                
                <td>{{ippoolingdata.id}}</td>
                <td>{{ippoolingdata.ipAddress}}</td> 
                <td>{{ippoolingdata.ipPoolDescription}}</td>
                <td>{{ippoolingdata.clientId}}</td>
                <td>{{ippoolingdata.status}}</td>                                     

                <td><a ng-click="edit(paymentgatewaydata.id)" popover="Edit" popover-trigger="mouseenter"><i class="icon-edit icon-white"></i></a></td>       

   			</tr>
     		 </tbody>
          </table>
            <ul class="pager">
              <li class="previous"><a  id="prev" ng-click="ippoolingdatas.previous()" href="" ng-disabled="!ippoolingdatas.hasPrevious()">&larr; Prev</a></li>
              <li class="next" ><a  id="next"   ng-click="ippoolingdatas.next()" href="" ng-disabled="!ippoolingdatas.hasNext()">Next &rarr;</a></li>
         </ul>
         </div>
      </tab> -->
      
      
   
   <!--  </tabset>
    </div> -->
    
    <script type="text/ng-template" id="updatedescription.html">

	<form class="form-horizontal well" ng-submit="submit()">
	 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
		<legend>Update Netmask</legend>
		<table width="100%">
			<div class="control-group">
		 	<label class="control-label" for="status">IpAddress And Subnet </label>
			<div class="controls">
			<input type="text" ng-model="formData.ip" name="ipAddress">  
            <input type="text" style="width:20px;" id="subnet" ng-model="formData.subNet" maxlength="2"/>
			</div>
			</div>
		</table>
	</fieldset>
	</form>
   <div class="modal-footer">
         <button id="cancel" class="btn btn-warning" ng-click="reject()">{{'button.cancel' | translate}}</button>
         <button id="submit" class="btn btn-primary" ng-click="accept()" ng-disabled="flag">{{'label.confirm' | translate}}</button>
   </div>

</script> 
    
</div>
