<div>
    <ul class="breadcrumb">
        <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.managemappingconfigurations' | translate}}</li>
    </ul>
</div>

<div ng-controller="MappingController">
 
    <div>
      <tabset  style="margin-bottom: 0px;">
      
      <tab heading="Service Provcode" select="getsupplierdetails()" ng-show="$parent.PermissionService.showMenu('READ_SERVICEMAPPING')">
       <div class="pull-right btn-group">
          <a ng-show="PermissionService.showMenu('CREATE_SERVICEMAPPING')" href="#/createServiceMapping" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.add' | translate }}</a>
        </div>
        <div class="row-fluid">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.servicemapping.id' | translate}}</th>
                <th>{{'table.servicemapping.servicecode' | translate}}</th>
                <th>{{'table.servicemapping.serviceidentification' | translate}}</th>
                <th>{{'table.servicemapping.status' | translate}}</th>
                <th style="width:125px;">{{'table.servicemapping.image' | translate}}</th>
                <th  ng-show="'IPTV'| ConfigLookup">Category</th>
                <th  ng-show="'IPTV'| ConfigLookup">Sub Category</th>
                
              </tr>
            </thead>
            <tbody>
             <tr class="pointer-main" ng-repeat="servicemappingdata in servicemappingdatas  | filter:filterText">
                <td class="pointer" data-ng-click="routeToservice(servicemappingdata.id)">{{servicemappingdata.id}}</td>
                <td class="pointer" data-ng-click="routeToservice(servicemappingdata.id)">{{servicemappingdata.serviceCode}}</td>
                <td class="pointer" data-ng-click="routeToservice(servicemappingdata.id)">{{servicemappingdata.serviceIdentification}}</td>
                <td class="pointer" data-ng-click="routeToservice(servicemappingdata.id)">{{servicemappingdata.status}}</td>
                <td class="pointer" data-ng-click="routeToservice(servicemappingdata.id)">{{servicemappingdata.image}}</td>
                <td  ng-show="'IPTV'| ConfigLookup" class="pointer" data-ng-click="routeToservice(servicemappingdata.id)">{{servicemappingdata.category}}</td>
                <td   ng-show="'IPTV'| ConfigLookup" class="pointer" data-ng-click="routeToservice(servicemappingdata.id)">{{servicemappingdata.subCategory}}</td>
   			</tr>
     		 </tbody>
          </table>
        <!--   <ul class="pager">
        			<li class="previous"><a ng-click="supplier.previous()" href="" ng-disabled="!supplier.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="supplier.next()" href="" ng-disabled="!supplier.hasNext()">Next &rarr;</a></li>
    			</ul> -->
         </div>
      </tab>	
      
      <tab heading=" Plan Provcode" select="getplanMappingdetails()" ng-show="$parent.PermissionService.showMenu('READ_PLANMAPPING')">
       <div class="pull-right btn-group">
          <a ng-show="PermissionService.showMenu('CREATE_PLANMAPPING')" href="#/createPlanMapping" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.add' | translate }}</a>
        </div>
        <div class="row-fluid">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.planmapping.id' | translate}}</th>
                <th>{{'table.planmapping.planCode' | translate}}</th>
                <th>{{'table.planmapping.planIdentification' | translate}}</th>
                <th>{{'table.planmapping.planStatus' | translate}}</th>                    
              </tr>
            </thead>
            <tbody>
             <tr class="pointer-main" ng-repeat="planmappingdata in planmappingdatas  | filter:filterText">
                <td class="pointer" data-ng-click="routeToplanmapping(planmappingdata.id)">{{planmappingdata.id}}</td>
                <td class="pointer" data-ng-click="routeToplanmapping(planmappingdata.id)">{{planmappingdata.planCode}}</td>
                <td class="pointer" data-ng-click="routeToplanmapping(planmappingdata.id)">{{planmappingdata.planIdentification}}</td>
                <td class="pointer" data-ng-click="routeToplanmapping(planmappingdata.id)">{{planmappingdata.planStatus}}</td>
                </tr>
     		 </tbody>
          </table>
        <!--   <ul class="pager">
        			<li class="previous"><a ng-click="supplier.previous()" href="" ng-disabled="!supplier.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="supplier.next()" href="" ng-disabled="!supplier.hasNext()">Next &rarr;</a></li>
    			</ul> -->
         </div>
      </tab>
      
  <tab heading="Hardware Plan" select="getHardwareMappingData()" active="hardwarePlanMappingTab"
  ng-show="$parent.PermissionService.showMenu('READ_PLANMAPPING')">
        <div class="pull-right btn-group">
          <a ng-show="PermissionService.showMenu('CREATE_PLANMAPPING')" href="#/createhardwareplanmapping" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.add' | translate }}</a>
        </div>
        <div class="row-fluid">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.hardwaremapping.id' | translate}}</th>
                <th>{{'table.hardwaremapping.plancode' | translate}}</th>
                <th>{{'table.hardwaremapping.itemcode' | translate}}</th>
               
              </tr>
            </thead>
            <tbody>
              <tr class="pointer-main" ng-repeat="hardwaremappingdata in hardwaremappingdatas  | filter:filterText">
              <td class="pointer" data-ng-click="routeTohardware(hardwaremappingdata.id)">{{hardwaremappingdata.id}}</td>        
                <td class="pointer" data-ng-click="routeTohardware(hardwaremappingdata.id)">{{hardwaremappingdata.planCode}}</td>
                <td class="pointer" data-ng-click="routeTohardware(hardwaremappingdata.id)">{{hardwaremappingdata.itemCode}}</td>
     		 </tbody>
          </table>
       		<!-- 	<ul class="pager">
        			<li class="previous"><a ng-click="itemhistory.previous()" href="" ng-disabled="!itemhistory.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="itemhistory.next()" href="" ng-disabled="!itemhistory.hasNext()">Next &rarr;</a></li>
    			</ul> -->
         </div>
      </tab>
      			
      				
      	<tab heading="Provision Command" select="getProvisiongCommandData()"
      		ng-show="$parent.PermissionService.showMenu('READ_PROVISIONINGSYSTEM')">
        <div class="pull-right btn-group">
          <a ng-show="PermissionService.showMenu('CREATE_PROVISIONINGSYSTEM')" href="#/createProvisioningmapping" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.add' | translate }}</a>
        </div>
        <div class="row-fluid">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.provisioningcommands.id' | translate}}</th>
                <th>{{'table.provisioningcommands.provisioningsystem' | translate}}</th>
                <th>{{'table.provisioningcommands.commandname' | translate}}</th>
                <th>{{'table.provisioningcommands.status' | translate}}</th>
               
              </tr>
            </thead>
            <tbody>
              <tr class="pointer-main" ng-repeat="provisiongdata in provisiongsystemData  | filter:filterText">
                <td class="pointer" data-ng-click="routeToprovisioning(provisiongdata.id)">{{provisiongdata.id}}</td>        
                <td class="pointer" data-ng-click="routeToprovisioning(provisiongdata.id)">{{provisiongdata.provisioningSystem}}</td>
                <td class="pointer" data-ng-click="routeToprovisioning(provisiongdata.id)">{{provisiongdata.commandName}}</td>
                <td class="pointer" data-ng-click="routeToprovisioning(provisiongdata.id)">{{provisiongdata.status}}</td>
     		 </tbody>
          </table>
         </div>
      </tab>	
      	

<tab heading="Event Action" select="getEventActionMappingData()"
	ng-show="$parent.PermissionService.showMenu('READ_EVENTACTIONMAP')">
        <div class="pull-right btn-group">
          <a ng-show="PermissionService.showMenu('CREATE_EVENTACTIONMAP')" href="#/createeventactionmapping" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.add' | translate }}</a>
        </div>
        <div class="row-fluid">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
                   
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.hardwaremapping.id' | translate}}</th>
                <th>{{'table.eventactionmapping.event' | translate}}</th>
                <th>{{'table.eventactionmapping.action' | translate}}</th>
                <th>{{'table.eventactionmapping.process' | translate}}</th>
                <!-- <th>Mapping</th> -->
                <th></th>
               
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in datas  | filter:filterText">
              <td><a href="#/vieweventactionmapping/{{data.id}}">{{data.id}}</a></td>        
                <td><a href="#/vieweventactionmapping/{{data.id}}">{{data.eventName}}</a></td>
                <td>{{data.actionName}}</td>
                <td>{{data.process}}</td>
                <!-- <td>{{data.isDeleted}}</td> -->
                <td ng-show="data.isDeleted=='N'"><button type="button" class="btn btn-success flag" data-ng-click="isDeleted(data.id,data.isDeleted)"><i class="icon-flag-alt"></i></button></td>
                <td ng-show="data.isDeleted=='Y'"><button type="button" class="btn btn-danger flag" data-ng-click="isDeleted(data.id,data.isDeleted)"><i class="icon-flag-alt"></i></button></td>
     		 </tbody>
          </table>
      
         </div>
      </tab>
	<tab heading="Currency Config" select="getCurrencyConfig()"
	ng-show="$parent.PermissionService.showMenu('READ_CURRENCY')">
        <div class="pull-right btn-group">
         <a ng-show="PermissionService.showMenu('UPDATE_CURRENCY')" href="#/createCurrencyMapping" class="btn btn-primary"><i class="icon-plus icon-white"></i> Edit</a>
        </div>
        <div class="row-fluid">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
                   
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>Currency Name</th>
	            <th>Currency Code</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="currency in selectedCurrOptions  | filter:filterText">
              <td>{{currency.name}}</td>
	           <td>{{currency.code}}</td>
     		 </tbody>
          </table>
       <div ng-show="hideview">
            <br>
        	<input class="form-control input-xxlarge" 
             ng-model="selected" 
             placeholder="New Currency"
             type="text"
             typeahead="item as item.displayLabel for item in allCurrOptions | filter:$viewValue | limitTo:8" />&nbsp;&nbsp;<a ng-click='addCur()'><i class="icon-plus"></i></a>

         	<div ng-repeat="currency in selectedCurrOptions">
    			<input disabled="" class="form-control input-xxlarge" placeholder={{currency.displayLabel}}} type="text"/>&nbsp;&nbsp;<a ng-click='deleteCur(currency.code)'><i class="icon-remove"></i></a>
            </div>
            <div class="offset5">
                <button id="cancel" type="reset" ng-click="cancel()" class="btn">Cancel</button>
                <button id="submit" type="submit" ng-click="submit()" class="btn btn-primary">Save</button>
            </div>
        </div>  
         </div>
      </tab>
      
    </tabset>
    </div>
  </div>
