<div>
    <ul class="breadcrumb">
        <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.managemappingconfigurations' | translate}}</li>
    </ul>
</div>

<div ng-controller="MappingController">
 
    <div>
      <tabset  style="margin-bottom: 0px;">
      
      <tab heading="Service Mapping" select="getsupplierdetails()">
       <div class="pull-right btn-group">
          <a href="#/createServiceMapping" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.add' | translate }}</a>
        </div>
        <div class="row-fluid">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.servicemapping.id' | translate}}</th>
                <th>{{'table.servicemapping.servicecode' | translate}}</th>
                <th>{{'table.servicemapping.serviceidentification' | translate}}</th>
                <th>{{'table.servicemapping.status' | translate}}</th>
                <th>{{'table.servicemapping.image' | translate}}</th>
              </tr>
            </thead>
            <tbody>
             <tr class="pointer-main" ng-repeat="servicemappingdata in servicemappingdatas  | filter:filterText">
                <td class="pointer" data-ng-click="routeToservice(servicemappingdata.id)">{{servicemappingdata.id}}</td>
                <td class="pointer" data-ng-click="routeToservice(servicemappingdata.id)">{{servicemappingdata.serviceCode}}</td>
                <td class="pointer" data-ng-click="routeToservice(servicemappingdata.id)">{{servicemappingdata.serviceIdentification}}</td>
                <td class="pointer" data-ng-click="routeToservice(servicemappingdata.id)">{{servicemappingdata.status}}</td>
                <td class="pointer" data-ng-click="routeToservice(servicemappingdata.id)">{{servicemappingdata.image}}</td>
   			</tr>
     		 </tbody>
          </table>
        <!--   <ul class="pager">
        			<li class="previous"><a ng-click="supplier.previous()" href="" ng-disabled="!supplier.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="supplier.next()" href="" ng-disabled="!supplier.hasNext()">Next &rarr;</a></li>
    			</ul> -->
         </div>
      </tab>	
      
  <tab heading="Hardware Mapping" select="getHardwareMappingData()" active="hardwarePlanMappingTab">
        <div class="pull-right btn-group">
          <a href="#/createhardwareplanmapping" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.add' | translate }}</a>
        </div>
        <div class="row-fluid">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.hardwaremapping.id' | translate}}</th>
                <th>{{'table.hardwaremapping.plancode' | translate}}</th>
                <th>{{'table.hardwaremapping.itemcode' | translate}}</th>
               
              </tr>
            </thead>
            <tbody>
              <tr class="pointer-main" ng-repeat="hardwaremappingdata in hardwaremappingdatas  | filter:filterText">
              <td class="pointer" data-ng-click="routeTohardware(hardwaremappingdata.id)">{{hardwaremappingdata.id}}</td>        
                <td class="pointer" data-ng-click="routeTohardware(hardwaremappingdata.id)">{{hardwaremappingdata.planCode}}</td>
                <td class="pointer" data-ng-click="routeTohardware(hardwaremappingdata.id)">{{hardwaremappingdata.itemCode}}</td>
     		 </tbody>
          </table>
       		<!-- 	<ul class="pager">
        			<li class="previous"><a ng-click="itemhistory.previous()" href="" ng-disabled="!itemhistory.hasPrevious()">&larr; Prev</a></li>
        			<li class="next" ><a ng-click="itemhistory.next()" href="" ng-disabled="!itemhistory.hasNext()">Next &rarr;</a></li>
    			</ul> -->
         </div>
      </tab>
      			
      				
      	<tab heading="Provisioning Commands" select="getProvisiongCommandData()">
        <div class="pull-right btn-group">
          <a href="#/createProvisioningmapping" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.add' | translate }}</a>
        </div>
        <div class="row-fluid">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.provisioningcommands.id' | translate}}</th>
                <th>{{'table.provisioningcommands.provisioningsystem' | translate}}</th>
                <th>{{'table.provisioningcommands.commandname' | translate}}</th>
                <th>{{'table.provisioningcommands.status' | translate}}</th>
               
              </tr>
            </thead>
            <tbody>
              <tr class="pointer-main" ng-repeat="provisiongdata in provisiongsystemData  | filter:filterText">
                <td class="pointer" data-ng-click="routeToprovisioning(provisiongdata.id)">{{provisiongdata.id}}</td>        
                <td class="pointer" data-ng-click="routeToprovisioning(provisiongdata.id)">{{provisiongdata.provisioningSystem}}</td>
                <td class="pointer" data-ng-click="routeToprovisioning(provisiongdata.id)">{{provisiongdata.commandName}}</td>
                <td class="pointer" data-ng-click="routeToprovisioning(provisiongdata.id)">{{provisiongdata.status}}</td>
     		 </tbody>
          </table>
         </div>
      </tab>	
      	

<tab heading="EventAction Mapping" select="getEventActionMappingData()">
        <div class="pull-right btn-group">
          <a href="#/createeventactionmapping" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.add' | translate }}</a>
        </div>
        <div class="row-fluid">
                   <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
                   
        <table class="table">
            <thead>
              <tr class="graybg">
                <th>{{'table.hardwaremapping.id' | translate}}</th>
                <th>{{'table.eventactionmapping.event' | translate}}</th>
                <th>{{'table.eventactionmapping.action' | translate}}</th>
                <th>{{'table.eventactionmapping.process' | translate}}</th>
               
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in datas  | filter:filterText">
              <td><a href="#/vieweventactionmapping/{{data.id}}">{{data.id}}</a></td>        
                <td><a href="#/vieweventactionmapping/{{data.id}}">{{data.eventName}}</a></td>
                <td>{{data.actionName}}</td>
                <td>{{data.process}}</td>
     		 </tbody>
          </table>
      
         </div>
      </tab>
	
    </tabset>
    </div>
  </div>
