<div ng-controller="SmartSearchController">
   <br>
    <div class="row-fluid" >
        <span class="input-append grpinputicons" >
        <form ng-submit="searchTransaction()">
                <input ng-model="formData.searchText" type="text" placeholder="Search Receipt#" />
                <span><a ng-click="isCollapsed = !isCollapsed" class="btn  control"><i class="icon-chevron-down"></i></a></span>
                <span><a ng-click="searchTransaction()" class="btn btn-primary control"><i class="icon-search icon-white"></i></a></span>
              </form>  
        </span>
    </div>
    <div collapse="isCollapsed" class="blockoverlay" width="100%" style="overflow-y: scroll">
        <br/><!-- The span is displaying the first line of the hiding div, making the first line of div as blank solved my problem -->
        <div>       
            <label>{{ 'label.fromdate' | translate }}</label>
            <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.first" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)" required late-Validate />
            <label>{{ 'label.todate' | translate }}</label>
            <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="date.second" is-open="opened1" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)" required late-Validate /><br>
            <span><a ng-click="searchTransaction()" class="btn btn-primary control"><i class="icon-search icon-white"></i>Advance Search</a></span>
        </div>
    </div>

     <div ng-show="displayResults" class="row-fluid">
    	<table class="table">
            <thead>
                <tr class="graybg">
                    <th>Client Id</th>
                    <th>Client Name</th>
                    <th>Payment Date</th>
                    <th>Payment Type</th>
                    <th>Receipt Number</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer-main" ng-repeat="transaction in transactions.currentPageItems">
                    <td class="pointer" data-ng-click="routeTo(transaction.clientId)">{{transaction.clientId}}</td>
                    <td class="pointer" data-ng-click="routeTo(transaction.clientId)">{{transaction.clientName}}</td>
                    <td class="pointer" data-ng-click="routeTo(transaction.clientId)">{{transaction.paymentDate | DateFormat}}</td>
                    <td class="pointer" data-ng-click="routeTo(transaction.clientId)">{{transaction.paymenttype}}</td>
                    <td class="pointer" data-ng-click="routeTo(transaction.clientId)">{{transaction.receiptNo}}</td>
                    <td class="pointer" data-ng-click="routeTo(transaction.clientId)">{{transaction.amount}}</td>
                   
                </tr>
            </tbody>
        </table>
        <ul class="pager">
            <li class="previous"><a ng-click="transactions.previous()" href="" ng-disabled="!transactions.hasPrevious()">&larr; Prev</a></li>
            <li class="next" ><a ng-click="transactions.next()" href="" ng-disabled="!transactions.hasNext()">Next &rarr;</a></li>
        </ul>
    </div>
</div>