<div>
    <ul class="breadcrumb">
       <li class="active">{{ 'label.heading.usernotification' | translate }}</li>
    </ul>
</div>

<div ng-controller="MessangerController">
 
    <div>
      <tabset  style="margin-bottom: 0px;">
      
      <tab heading="Inbox" select="getsupplierdetails()">
      
       
        <div ng-repeat="userChatData in userChatDatas | orderBy:predicate:reverse">
          <div>
           
              <p>{{userChatData.message}}</p>
              <blockquote>
            
               <small>From :&nbsp;{{userChatData.createdByUser}}  Received on :&nbsp;&nbsp;{{userChatData.messageDate | DateFormat}}</small>
            </blockquote>
          </div>
        </div>
        
      </tab>	
      
      <tab heading="Sent Messages" select="getSentMessages()">
        <div class="pull-right btn-group">
          <a href="#/addnewmesage" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{ 'button.addmessage' | translate }}</a>
        </div>
  
     
        <div ng-repeat="userChatData in userSentmessageDatas | orderBy:predicate:reverse">
          <div>
           
              <p>{{userChatData.message}}</p>
              <blockquote>
            
               <small> To :&nbsp;{{userChatData.userName}}  Sent on :&nbsp;&nbsp;{{userChatData.messageDate | DateFormat}}</small>
            </blockquote>
          </div>
        </div>
       
       		
        
      </tab>
    </tabset>
    </div>
  </div>
